In [1]:
import scipy.io
import numpy as np
import CMR_IA as cmr
import matplotlib.pyplot as plt
import pickle
from statistics import mean, stdev
import pprint
import import_ipynb
import time
import pandas as pd
import seaborn as sns

np.set_printoptions(edgeitems=20, linewidth=150,precision=4)

In [2]:
# get wordfreq quantile
with open('../Data/simu4_word_freq.pkl', 'rb') as inp:
    df = pickle.load(inp)

In [3]:
with open("../Data/simu4_design.pkl", 'rb') as inp:
    df_study = pickle.load(inp)
    df_test = pickle.load(inp)

In [4]:
s_mat = np.load('../Data/simu4_smat.npy')

In [5]:
params = cmr.make_default_params()
params.update(
    beta_enc = 0.4,
    beta_rec = 0.1,
    beta_rec_post = 0.2,
    gamma_fc = 0.5,
    s_fc = 0,
    c_thresh = 0.18,
    c_thresh_ass = 0.18,
    a = 2800,
    b = 2.14,
    m = 0,
    n = 1,
)
params

{'beta_enc': 0.4,
 'beta_rec': 0.1,
 'beta_rec_new': 0.5,
 'beta_rec_post': 0.2,
 'beta_distract': None,
 'phi_s': 2,
 'phi_d': 0.5,
 's_cf': 0,
 's_fc': 0,
 'kappa': 0.5,
 'eta': 0.5,
 'omega': 8,
 'alpha': 4,
 'c_thresh': 0.18,
 'c_thresh_ass': 0.18,
 'lamb': 0.5,
 'rec_time_limit': 60000.0,
 'dt': 10,
 'nitems_in_accumulator': 50,
 'max_recalls': 50,
 'learn_while_retrieving': False,
 'a': 2800,
 'b': 2.14,
 'm': 0,
 'n': 1,
 'gamma_fc': 0.5,
 'gamma_cf': 0.5}

In [6]:
df_study = df_study.iloc[0:5]
df_study.columns = df_study.columns.str.replace('itemno', 'itemno1')
df_study['itemno2'] = [1,2,3,4,5]
df_study = df_study[['itemno1','itemno2', 'session']]
df_study

   itemno1  itemno2  session
0      316        1        0
1      477        2        0
2      433        3        0
3       87        4        0
4       84        5        0

In [7]:
df_test = df_study.copy()
df_test['itemno1'] = [84,316,87,433,477]
df_test['itemno2'] = [5,1,-1,4,2]
df_test

   itemno1  itemno2  session
0       84        5        0
1      316        1        0
2       87       -1        0
3      433        4        0
4      477        2        0

In [8]:
df_thin = df_test[['session','itemno1', 'itemno2']]
df_thin = df_thin.assign(s_resp=np.nan, s_rt=np.nan, csim=np.nan)
df_thin

   session  itemno1  itemno2  s_resp  s_rt  csim
0        0       84        5     NaN   NaN   NaN
1        0      316        1     NaN   NaN   NaN
2        0       87       -1     NaN   NaN   NaN
3        0      433        4     NaN   NaN   NaN
4        0      477        2     NaN   NaN   NaN

In [9]:
# extarct the session data
sess = 0
pres_mat = df_study.loc[df_study.session==sess,['itemno1','itemno2']].to_numpy()
pres_mat = np.reshape(pres_mat,(len(pres_mat),1,2))
pres_mat

array([[[316,   1]],

       [[477,   2]],

       [[433,   3]],

       [[ 87,   4]],

       [[ 84,   5]]])

In [10]:
cue_mat = df_thin.loc[df_thin.session==sess,['itemno1','itemno2']].to_numpy()
cue_mat

array([[ 84,   5],
       [316,   1],
       [ 87,  -1],
       [433,   4],
       [477,   2]])

In [11]:
sem_mat = s_mat

In [12]:
model = cmr.CMR2(params, pres_mat, sem_mat, source_mat=None,
           rec_mat=None, ffr_mat=None, cue_mat=cue_mat, task='Recog', mode='Hockley')

In [13]:
model.pres_nos

array([[[316,   1]],

       [[477,   2]],

       [[433,   3]],

       [[ 87,   4]],

       [[ 84,   5]]], dtype=int16)

In [14]:
model.cues_nos

array([[ 84,   5],
       [316,   1],
       [ 87,  -1],
       [433,   4],
       [477,   2]], dtype=int16)

In [15]:
model.all_nos_unique

array([  1,   2,   3,   4,   5,  84,  87, 316, 433, 477], dtype=int16)

In [16]:
model.pres_indexes

array([[[7, 0]],

       [[9, 1]],

       [[8, 2]],

       [[6, 3]],

       [[5, 4]]])

In [17]:
model.cues_indexes

array([[ 5,  4],
       [ 7,  0],
       [ 6, -1],
       [ 8,  3],
       [ 9,  1]])

In [18]:
model.sem_mat

array([[ 0.    ,  0.0438,  0.0616,  0.2806,  0.2136,  0.1854,  0.193 ,  0.0356,  0.1036,  0.1859],
       [ 0.0438,  0.    ,  0.1883,  0.0561,  0.1495,  0.1521,  0.0542,  0.1094,  0.2295,  0.1507],
       [ 0.0616,  0.1883,  0.    ,  0.1312,  0.3007, -0.012 ,  0.133 ,  0.1012,  0.1817,  0.1084],
       [ 0.2806,  0.0561,  0.1312,  0.    ,  0.2054,  0.1426,  0.1044,  0.1056,  0.0558,  0.0633],
       [ 0.2136,  0.1495,  0.3007,  0.2054,  0.    ,  0.1587,  0.1946,  0.1423,  0.066 ,  0.4829],
       [ 0.1854,  0.1521, -0.012 ,  0.1426,  0.1587,  0.    ,  0.2227, -0.013 ,  0.0264,  0.1561],
       [ 0.193 ,  0.0542,  0.133 ,  0.1044,  0.1946,  0.2227,  0.    ,  0.0213,  0.0265,  0.1088],
       [ 0.0356,  0.1094,  0.1012,  0.1056,  0.1423, -0.013 ,  0.0213,  0.    ,  0.0807,  0.0492],
       [ 0.1036,  0.2295,  0.1817,  0.0558,  0.066 ,  0.0264,  0.0265,  0.0807,  0.    ,  0.0138],
       [ 0.1859,  0.1507,  0.1084,  0.0633,  0.4829,  0.1561,  0.1088,  0.0492,  0.0138,  0.    ]], dtype=float32)

In [19]:
model.nlists

5

In [20]:
model.run_hockley_recog_single_sess()

# in model:
# print(self.att_vec[self.all_nos_unique[item_idx]-1])
# print(np.dot(self.c_old[:self.nitems_unique], self.f[:self.nitems_unique].T))

pretrial
[7 0]
encoding
recognition
pretrial
[9 1]
encoding
recognition
pretrial
[8 2]
encoding
recognition
pretrial
[6 3]
encoding
recognition
pretrial
[5 4]
encoding
recognition

In [21]:
model.M_FC

array([[0.5   , 0.1379, 0.1535, 0.1371, 0.1262, 0.1262, 0.1371, 0.    , 0.1535, 0.1379, 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.5   , 0.133 , 0.1188, 0.1094, 0.1094, 0.1188, 0.    , 0.133 , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.5   , 0.1379, 0.1192, 0.1192, 0.1379, 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.5   , 0.1544, 0.1544, 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.0346, 0.0299, 0.0267, 0.5246, 0.0246, 0.0267, 0.    , 0.0299, 0.0346, 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.0346, 0.0299, 0.0267, 0.0246, 0.5246, 0.0267, 0.    , 0.0299, 0.0346, 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.049 , 0.1721, 0.1721, 0.549 , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.1379, 0.1535, 0.1371, 0.1262, 0.1262, 0.1371, 0.5   , 0.1535, 0.1379, 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.1379, 0.144 , 0.144 , 0.1379, 0.    , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.133 , 0.1188, 0.1094, 0.1094, 0.1188, 0.    , 0.133 , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   , 0.    , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   , 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   ]], dtype=float32)

In [22]:
# model.att_vec

In [23]:
model.recog_similarity

[0.0, 0.3573985993862152, 0.0, 0.6093145608901978, 0.4468690752983093]

In [24]:
recs = model.rec_items
rts = model.rec_times
csims = model.recog_similarity
result = np.column_stack((recs,rts,csims))
df_thin.loc[df_thin.session==sess, ['s_resp','s_rt','csim']] = result
df_simu = df_thin.merge(df_test,on=['session','itemno1'])
df_simu

   session  itemno1  itemno2_x  s_resp         s_rt      csim  itemno2_y
0        0       84          5     0.0  1904.880859  0.000000          5
1        0      316          1     1.0  1915.514648  0.357399          1
2        0       87         -1     0.0  1904.880859  0.000000         -1
3        0      433          4     1.0  1117.267822  0.609315          4
4        0      477          2     1.0  1581.730591  0.446869          2