In [1]:
import scipy.io
import numpy as np
import CMR_IA as cmr
import matplotlib.pyplot as plt
import pickle
from statistics import mean, stdev
import pprint
import import_ipynb
import time
import pandas as pd
import seaborn as sns

np.set_printoptions(edgeitems=20, linewidth=150,precision=4)

In [2]:
with open("../Data/simu6_design.pkl", 'rb') as inp:
    df_study = pickle.load(inp)
    df_test = pickle.load(inp)

In [3]:
s_mat = np.load('../Data/wordpools/ltp_FR_similarity_matrix.npy')

In [10]:
params = cmr.make_default_params()
params.update(
    beta_enc = 0.4,
    beta_rec = 0.4,
    beta_rec_post = 0.2,
    gamma_fc = 0.5,
    s_fc = 0,
    c_thresh = 0.01,
    c_thresh_ass = 0.01,
    a = 2800,
    b = 2.14,
    m = 0,
    n = 1,
)
params

{'beta_enc': 0.4,
 'beta_rec': 0.4,
 'beta_rec_new': 0.5,
 'beta_rec_post': 0.2,
 'beta_distract': None,
 'phi_s': 2,
 'phi_d': 0.5,
 's_cf': 0,
 's_fc': 0,
 'kappa': 0.5,
 'eta': 0.5,
 'omega': 8,
 'alpha': 4,
 'c_thresh': 0.01,
 'c_thresh_ass': 0.01,
 'd_ass': 1,
 'lamb': 0.5,
 'rec_time_limit': 60000.0,
 'dt': 10,
 'nitems_in_accumulator': 50,
 'max_recalls': 50,
 'learn_while_retrieving': False,
 'a': 2800,
 'b': 2.14,
 'm': 0,
 'n': 1,
 'gamma_fc': 0.5,
 'gamma_cf': 0.5}

In [11]:
df_study = df_study.loc[df_study.session == 0]
df_study

   study_itemno1  study_itemno2 study_item1 study_item2  session
0            716            141        HOOP     BLUEJAY        0
1           1261            862     SEAGULL         MAN        0
2           1067           1402        PIKE        SUIT        0
3            146            707        BOLT     HIGHWAY        0
4            155           1140     BOULDER      PUDDLE        0
5           1599            330        WEED       CLOWN        0

In [12]:
df_test = df_test.loc[df_test.session == 0]
df_test

   test_itemno test_item  correct_ans  lag  session
0          716      HOOP          141    5        0

In [13]:
df_thin = df_test[['session','test_itemno']]
df_thin = df_thin.assign(s_resp=np.nan, s_rt=np.nan)
df_thin

   session  test_itemno  s_resp  s_rt
0        0          716     NaN   NaN

In [14]:
# extarct the session data
sess = 0
pres_mat = df_study.loc[df_study.session==sess,['study_itemno1','study_itemno2']].to_numpy()
pres_mat = np.reshape(pres_mat,(1,len(pres_mat),2))
pres_mat

array([[[ 716,  141],
        [1261,  862],
        [1067, 1402],
        [ 146,  707],
        [ 155, 1140],
        [1599,  330]]])

In [15]:
cue_mat = df_thin.loc[df_thin.session==sess,'test_itemno'].to_numpy()
cue_mat

array([716])

In [16]:
sem_mat = s_mat

In [40]:
model = cmr.CMR2(params, pres_mat, sem_mat, source_mat=None,
           rec_mat=None, ffr_mat=None, cue_mat=cue_mat, task='CR', mode='Final')

In [41]:
model.pres_nos

array([[[ 716,  141],
        [1261,  862],
        [1067, 1402],
        [ 146,  707],
        [ 155, 1140],
        [1599,  330]]], dtype=int16)

In [42]:
model.cues_nos

array([716], dtype=int16)

In [43]:
model.all_nos_unique

array([ 141,  146,  155,  330,  707,  716,  862, 1067, 1140, 1261, 1402, 1599], dtype=int16)

In [44]:
model.pres_indexes

array([[[ 5,  0],
        [ 9,  6],
        [ 7, 10],
        [ 1,  4],
        [ 2,  8],
        [11,  3]]])

In [45]:
model.cues_indexes

array([5])

In [46]:
model.nlists

1

In [47]:
model.run_norm_cr_single_sess()

# in model:
# print(self.att_vec[self.all_nos_unique[item_idx]-1])
# print(np.dot(self.c_old[:self.nitems_unique], self.f[:self.nitems_unique].T))

pretrial
1
encoding
shift
1
recall
recall 5 f_in:
 [0.5657 0.     0.     0.     0.     0.5657 0.     0.     0.     0.     0.     0.    ]
[[0.0866]]

In [48]:
model.rec_items

[146]

In [49]:
model.rec_times

[3100]

In [50]:
recs = model.rec_items
rts = model.rec_times
result = np.column_stack((recs,rts))
df_thin.loc[df_thin.session==sess, ['s_resp','s_rt']] = result
df_simu = df_thin.merge(df_test,on=['session','test_itemno'])
df_simu

   session  test_itemno  s_resp    s_rt test_item  correct_ans  lag
0        0          716   146.0  3100.0      HOOP          141    5