In [44]:
import pandas as pd
import numpy as np
import pickle

In [45]:
# 1638 words
with open("../Data/wordpools/wasnorm_wordpool.txt") as f:
    items = f.readlines()
items = [i.replace("\n","") for i in items]
items = np.array(items)

In [46]:
simu_sess_num = 1000
n = 48
v = n-8  # last 8 not tested
wordpool = np.arange(1,1639)

### Group1: Association Recog - CR

In [47]:
df_g1_study = pd.DataFrame()
df_g1_test = pd.DataFrame()
rng = np.random.default_rng(seed=42)

for sess in range(simu_sess_num):
    tmp_df_study = pd.DataFrame()
    tmp_df_test1 = pd.DataFrame()
    tmp_df_test2 = pd.DataFrame()

    # study
    pres_words = rng.choice(wordpool, 2*n, replace = False)
    pres_words = np.reshape(pres_words, (n,2))
    pair_order = rng.permutation([0]*int(v/2) + [1]*int(v/2))  # 0: A-B, 1: B-A (during CR)
    tmp_df_study['study_itemno1'] = pres_words[:,0]
    tmp_df_study['study_itemno2'] = pres_words[:,1]
    tmp_df_study['study_item1'] = items[pres_words[:,0]-1]
    tmp_df_study['study_item2'] = items[pres_words[:,1]-1]
    tmp_df_study['session'] = sess
    tmp_df_study['order'] = np.concatenate((pair_order, [-1]*8))
    tmp_df_study['pair_idx'] = np.arange(n)
    df_g1_study = pd.concat([df_g1_study,tmp_df_study])
    valid_words = pres_words[0:v,:]

    # test1: association recognition
    intact_idx = rng.permutation([True]*int(v/2) + [False]*int(v/2))
    intact_pair_idx = np.arange(v)[intact_idx]
    intact_pairs_raw = valid_words[intact_idx,:]
    intact_pairs = valid_words[intact_idx,:]
    intact_order = pair_order[intact_idx] # 0:A-B, 1:B-A
    for i in range(intact_pairs.shape[0]):
        if intact_order[i] == 1:
            intact_pairs[i] = np.flip(intact_pairs[i])

    rearrange_idx = ~intact_idx
    rearrange_pair_idx = np.array([-1]*int(v/2))
    rearrange_pairs = valid_words[rearrange_idx,:]
    rearrange_pairs[:,1] = rng.permutation(rearrange_pairs[:,1])
    rearrange_order = pair_order[rearrange_idx] # 0:A-B, 1:B-A
    for i in range(rearrange_pairs.shape[0]):
        if rearrange_order[i] == 1:
            rearrange_pairs[i] = np.flip(rearrange_pairs[i])

    test1_pairs = np.concatenate((intact_pairs,rearrange_pairs),axis=0)
    test1_pair_idx = np.concatenate((intact_pair_idx,rearrange_pair_idx),axis=0)
    test1_type = np.array([1]*int(v/2)+[0]*int(v/2))  #1:intact, 0:rearranged
    test1_order = np.concatenate((intact_order,rearrange_order),axis=0)
    tmp_df_test1['test_itemno1'] = test1_pairs[:,0]
    tmp_df_test1['test_itemno2'] = test1_pairs[:,1]
    tmp_df_test1['test_item1'] = items[test1_pairs[:,0]-1]
    tmp_df_test1['test_item2'] = items[test1_pairs[:,1]-1]
    tmp_df_test1['correct_ans'] = test1_type
    tmp_df_test1['order'] = test1_order
    tmp_df_test1['pair_idx'] = test1_pair_idx
    tmp_df_test1['test'] = 1
    tmp_df_test1['session'] = sess
    tmp_df_test1 = tmp_df_test1.iloc[rng.permutation(tmp_df_test1.index)].reset_index(drop=True)
    
    # test2: cued recall
    cued_order = pair_order[intact_idx] # 0:A-B, 1:B-A
    test2_probe = np.array([intact_pairs_raw[i,cued_order[i]] for i in range(int(v/2))])
    test2_ans = np.array([intact_pairs_raw[i,1-cued_order[i]] for i in range(int(v/2))])
    tmp_df_test2['test_itemno1'] = test2_probe
    tmp_df_test2['test_itemno2'] = -1
    tmp_df_test2['test_item1'] = items[test2_probe-1]
    tmp_df_test2['test_item2'] = -1
    tmp_df_test2['correct_ans'] = test2_ans
    tmp_df_test2['order'] = cued_order
    tmp_df_test2['pair_idx'] = intact_pair_idx
    tmp_df_test2['test'] = 2
    tmp_df_test2['session'] = sess
    tmp_df_test2 = tmp_df_test2.iloc[rng.permutation(tmp_df_test2.index)].reset_index(drop=True)
    df_g1_test = pd.concat([df_g1_test,tmp_df_test1,tmp_df_test2])

df_g1_study.reset_index(inplace = True, drop=True)
df_g1_test.reset_index(inplace = True, drop=True)

In [48]:
# df_g1_study.query("session==0")

In [49]:
# df_g1_test.query("session==0")

In [50]:
# save
with open('../Data/simuS1_group1_design.pkl', 'wb') as outp:
    pickle.dump(df_g1_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_g1_test, outp, pickle.HIGHEST_PROTOCOL)

### Group2: Pair Recog - CR

In [51]:
df_g2_study = pd.DataFrame()
df_g2_test = pd.DataFrame()
rng = np.random.default_rng(seed=42)

for sess in range(simu_sess_num):
    tmp_df_study = pd.DataFrame()
    tmp_df_test1 = pd.DataFrame()
    tmp_df_test2 = pd.DataFrame()

    # study
    all_words = rng.choice(wordpool, 2*(n+v), replace=False)
    pres_words = all_words[0:2*n]
    pres_words = np.reshape(pres_words, (n,2))
    pair_order = rng.permutation([0]*int(v/2) + [1]*int(v/2))  # 0: A-B, 1: B-A (during CR)
    tmp_df_study['study_itemno1'] = pres_words[:,0]
    tmp_df_study['study_itemno2'] = pres_words[:,1]
    tmp_df_study['study_item1'] = items[pres_words[:,0]-1]
    tmp_df_study['study_item2'] = items[pres_words[:,1]-1]
    tmp_df_study['session'] = sess
    tmp_df_study['order'] = np.concatenate((pair_order, [-1]*8))
    tmp_df_study['pair_idx'] = np.arange(n)
    df_g2_study = pd.concat([df_g2_study,tmp_df_study])
    valid_words = pres_words[0:v,:]

    # test1: pair recognition
    old_pairs = valid_words.copy()
    old_order = pair_order # 0:A-B, 1:B-A
    for i in range(old_pairs.shape[0]):
        if old_order[i] == 1:
            old_pairs[i] = np.flip(old_pairs[i])
    old_pair_idx = np.arange(v)

    new_words = all_words[2*n:]
    new_pairs = np.reshape(new_words, (v,2))
    new_order = [-1] * v
    new_pair_idx = np.array([-1] * v)

    test1_pairs = np.concatenate((old_pairs,new_pairs),axis=0)
    test1_type = np.array([1]*v+[0]*v)  #1:old, 0:new
    test1_order = np.concatenate((old_order,new_order),axis=0)
    test1_pair_idx = np.concatenate((old_pair_idx,new_pair_idx),axis=0)
    tmp_df_test1['test_itemno1'] = test1_pairs[:,0]
    tmp_df_test1['test_itemno2'] = test1_pairs[:,1]
    tmp_df_test1['test_item1'] = items[test1_pairs[:,0]-1]
    tmp_df_test1['test_item2'] = items[test1_pairs[:,1]-1]
    tmp_df_test1['correct_ans'] = test1_type
    tmp_df_test1['order'] = test1_order
    tmp_df_test1['pair_idx'] = test1_pair_idx
    tmp_df_test1['test'] = 1
    tmp_df_test1['session'] = sess
    tmp_df_test1 = tmp_df_test1.iloc[rng.permutation(tmp_df_test1.index)].reset_index(drop=True)

    # test2: cued recall
    cued_order = pair_order # 0:A-B, 1:B-A
    test2_probe = np.array([valid_words[i,cued_order[i]] for i in range(v)])
    test2_ans = np.array([valid_words[i,1-cued_order[i]] for i in range(v)])
    tmp_df_test2['test_itemno1'] = test2_probe
    tmp_df_test2['test_itemno2'] = -1
    tmp_df_test2['test_item1'] = items[test2_probe-1]
    tmp_df_test2['test_item2'] = -1
    tmp_df_test2['correct_ans'] = test2_ans
    tmp_df_test2['order'] = cued_order
    tmp_df_test2['pair_idx'] = np.arange(v)
    tmp_df_test2['test'] = 2
    tmp_df_test2['session'] = sess
    tmp_df_test2 = tmp_df_test2.iloc[rng.permutation(tmp_df_test2.index)].reset_index(drop=True)
    df_g2_test = pd.concat([df_g2_test,tmp_df_test1,tmp_df_test2])

df_g2_study.reset_index(inplace = True, drop=True)
df_g2_test.reset_index(inplace = True, drop=True)

In [52]:
# df_g2_study.query("session==0")

In [53]:
# df_g2_test.iloc[60:120]

In [54]:
# save
with open('../Data/simuS1_group2_design.pkl', 'wb') as outp:
    pickle.dump(df_g2_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_g2_test, outp, pickle.HIGHEST_PROTOCOL)

### Group3: Item Recog - CR

In [55]:
df_g3_study = pd.DataFrame()
df_g3_test = pd.DataFrame()
rng = np.random.default_rng(seed=42)

for sess in range(simu_sess_num):
    tmp_df_study = pd.DataFrame()
    tmp_df_test1 = pd.DataFrame()
    tmp_df_test2 = pd.DataFrame()

    # study
    all_words = rng.choice(wordpool, 2*n+v, replace=False)
    pres_words = all_words[0:2*n]
    pres_words = np.reshape(pres_words, (n,2))
    pair_order = rng.permutation([0]*int(v/2) + [1]*int(v/2)) # 0: A-B, 1: B-A (during CR)
    tmp_df_study['study_itemno1'] = pres_words[:,0]
    tmp_df_study['study_itemno2'] = pres_words[:,1]
    tmp_df_study['study_item1'] = items[pres_words[:,0]-1]
    tmp_df_study['study_item2'] = items[pres_words[:,1]-1]
    tmp_df_study['session'] = sess
    tmp_df_study['order'] = np.concatenate((pair_order, [-1]*8))
    tmp_df_study['pair_idx'] = np.arange(n)
    df_g3_study = pd.concat([df_g3_study,tmp_df_study])
    valid_words = pres_words[0:v,:]

    # test1: item recognition
    old_order = pair_order # 0:B, 1:A
    old_probe = np.array([valid_words[i,1-old_order[i]] for i in range(v)])
    old_pair_idx = np.arange(v)
    new_probe = all_words[2*n:]
    new_order = [-1] * v
    new_pair_idx = np.array([-1] * v)

    test1_probe = np.concatenate((old_probe,new_probe),axis=0)
    test1_type = np.array([1]*v+[0]*v)  #1:old, 0:new
    test1_order = np.concatenate((old_order,new_order),axis=0)
    test1_pair_idx = np.concatenate((old_pair_idx,new_pair_idx),axis=0)
    tmp_df_test1['test_itemno1'] = test1_probe
    tmp_df_test1['test_itemno2'] = -1
    tmp_df_test1['test_item1'] = items[test1_probe-1]
    tmp_df_test1['correct_ans'] = test1_type
    tmp_df_test1['order'] = test1_order
    tmp_df_test1['pair_idx'] = test1_pair_idx
    tmp_df_test1['test'] = 1
    tmp_df_test1['session'] = sess
    tmp_df_test1 = tmp_df_test1.iloc[rng.permutation(tmp_df_test1.index)].reset_index(drop=True)

    # test2: cued recall
    cued_order = pair_order # 0:A-B, 1:B-A
    test2_probe = np.array([valid_words[i,cued_order[i]] for i in range(v)])
    test2_ans = np.array([valid_words[i,1-cued_order[i]] for i in range(v)])
    tmp_df_test2['test_itemno1'] = test2_probe
    tmp_df_test2['test_itemno2'] = -1
    tmp_df_test2['test_item1'] = items[test2_probe-1]
    tmp_df_test2['correct_ans'] = test2_ans
    tmp_df_test2['order'] = cued_order
    tmp_df_test2['pair_idx'] = np.arange(v)
    tmp_df_test2['test'] = 2
    tmp_df_test2['session'] = sess
    tmp_df_test2 = tmp_df_test2.iloc[rng.permutation(tmp_df_test2.index)].reset_index(drop=True)
    df_g3_test = pd.concat([df_g3_test,tmp_df_test1,tmp_df_test2])

df_g3_study.reset_index(inplace = True, drop=True)
df_g3_test.reset_index(inplace = True, drop=True)

In [56]:
df_g3_study.query("session==0")

,study_itemno1,study_itemno2,study_item1,study_item2,session,order,pair_idx
0,186,279,BUFFALO,CHAMPION,0,1,0
1,255,776,CASKET,KIDNEY,0,1,1
2,938,1259,NAVIGATOR,SEA,0,1,2
3,582,1115,FLORIDA,POTATO,0,0,3
4,224,694,CAMERA,HAYSTACK,0,0,4
5,1343,461,SOFTBALL,DICE,0,0,5
6,742,898,INTESTINE,MINT,0,1,6
7,1165,619,RAM,GANG,0,1,7
8,1321,1478,SKUNK,TOMBSTONE,0,1,8
9,1489,566,TOWEL,FIN,0,1,9
10,1442,661,TEAPOT,GRILL,0,1,10
11,975,893,OLIVE,MILDEW,0,0,11
12,852,1171,MACHINE,RAZOR,0,1,12
13,1283,1421,SHEPHERD,SWING,0,0,13
14,691,1292,HATCHET,SHORTCAKE,0,0,14
15,1071,69,PIMPLE,BAG,0,0,15
16,1586,767,WAND,JUVENILE,0,1,16
17,498,511,DRINK,DYNAMITE,0,0,17
18,1325,1278,SLEIGH,SHEEP,0,0,18
19,1392,135,STREAM,BLANKET,0,0,19
20,730,686,ICE,HANDKERCHIEF,0,0,20
21,1064,727,PIG,HURRICANE,0,0,21
22,149,1275,BOOK,SHARK,0,0,22
23,1113,739,POSTAGE,INN,0,1,23
24,1335,905,SNOB,MOLECULE,0,1,24
25,1415,522,SUSPECT,ELECTRON,0,0,25
26,1067,1527,PIKE,TWIG,0,1,26
27,1295,1628,SHOVEL,XEROX,0,1,27
28,1435,1083,TAR,PLANT,0,1,28
29,1020,1385,PASSENGER,STONE,0,0,29
30,1256,1516,SCRIBBLE,TUBE,0,0,30
31,1209,780,ROOSTER,KITTEN,0,1,31
32,574,1181,FLANNEL,REINDEER,0,0,32
33,1086,349,PLATE,COLT,0,1,33
34,1060,12,PICNIC,AIRPLANE,0,1,34
35,818,751,LIEUTENANT,JAW,0,1,35
36,1252,1585,SCOUT,WALRUS,0,1,36
37,305,616,CHISEL,FURNITURE,0,0,37
38,130,1577,BISCUIT,VOLUNTEER,0,0,38
39,924,1052,MOUNTAIN,PERSON,0,0,39
40,227,853,CANARY,MAGAZINE,0,-1,40
41,984,763,ORGAN,JUGGLER,0,-1,41
42,142,921,BLUEPRINT,MOTHER,0,-1,42
43,427,549,CURTAIN,FAIRY,0,-1,43
44,1564,384,VIDEO,COTTAGE,0,-1,44
45,1154,155,RACK,BOULDER,0,-1,45
46,915,1000,MOOSE,PADDLE,0,-1,46
47,1194,1092,RIVER,PLUTO,0,-1,47

In [57]:
df_g3_test.iloc[60:120]

,test_itemno1,test_itemno2,test_item1,correct_ans,order,pair_idx,test,session
60,616,-1,FURNITURE,1,0,37,1,0
61,694,-1,HAYSTACK,1,0,4,1,0
62,299,-1,CHILD,0,-1,-1,1,0
63,1385,-1,STONE,1,0,29,1,0
64,742,-1,INTESTINE,1,1,6,1,0
65,321,-1,CLERK,0,-1,-1,1,0
66,852,-1,MACHINE,1,1,12,1,0
67,398,-1,CRACKER,0,-1,-1,1,0
68,1054,-1,PHILOSOPHER,0,-1,-1,1,0
69,1516,-1,TUBE,1,0,30,1,0
70,1165,-1,RAM,1,1,7,1,0
71,1489,-1,TOWEL,1,1,9,1,0
72,522,-1,ELECTRON,1,0,25,1,0
73,195,-1,BULLETIN,0,-1,-1,1,0
74,120,-1,BELT,0,-1,-1,1,0
75,1629,-1,YACHT,0,-1,-1,1,0
76,1435,-1,TAR,1,1,28,1,0
77,818,-1,LIEUTENANT,1,1,35,1,0
78,1503,-1,TRENCH,0,-1,-1,1,0
79,1036,-1,PECAN,0,-1,-1,1,0
80,975,-1,OLIVE,893,0,11,2,0
81,776,-1,KIDNEY,255,1,1,2,0
82,1256,-1,SCRIBBLE,1516,0,30,2,0
83,1415,-1,SUSPECT,522,0,25,2,0
84,130,-1,BISCUIT,1577,0,38,2,0
85,224,-1,CAMERA,694,0,4,2,0
86,1585,-1,WALRUS,1252,1,36,2,0
87,305,-1,CHISEL,616,0,37,2,0
88,767,-1,JUVENILE,1586,1,16,2,0
89,691,-1,HATCHET,1292,0,14,2,0
90,1259,-1,SEA,938,1,2,2,0
91,1283,-1,SHEPHERD,1421,0,13,2,0
92,730,-1,ICE,686,0,20,2,0
93,1083,-1,PLANT,1435,1,28,2,0
94,279,-1,CHAMPION,186,1,0,2,0
95,1171,-1,RAZOR,852,1,12,2,0
96,1071,-1,PIMPLE,69,0,15,2,0
97,582,-1,FLORIDA,1115,0,3,2,0
98,924,-1,MOUNTAIN,1052,0,39,2,0
99,12,-1,AIRPLANE,1060,1,34,2,0
100,898,-1,MINT,742,1,6,2,0
101,149,-1,BOOK,1275,0,22,2,0
102,739,-1,INN,1113,1,23,2,0
103,619,-1,GANG,1165,1,7,2,0
104,1478,-1,TOMBSTONE,1321,1,8,2,0
105,566,-1,FIN,1489,1,9,2,0
106,1392,-1,STREAM,135,0,19,2,0
107,574,-1,FLANNEL,1181,0,32,2,0
108,1343,-1,SOFTBALL,461,0,5,2,0
109,661,-1,GRILL,1442,1,10,2,0
110,1064,-1,PIG,727,0,21,2,0
111,1628,-1,XEROX,1295,1,27,2,0
112,349,-1,COLT,1086,1,33,2,0
113,1325,-1,SLEIGH,1278,0,18,2,0
114,780,-1,KITTEN,1209,1,31,2,0
115,498,-1,DRINK,511,0,17,2,0
116,905,-1,MOLECULE,1335,1,24,2,0
117,1020,-1,PASSENGER,1385,0,29,2,0
118,1527,-1,TWIG,1067,1,26,2,0
119,751,-1,JAW,818,1,35,2,0

In [58]:
# save
with open('../Data/simuS1_group3_design.pkl', 'wb') as outp:
    pickle.dump(df_g3_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_g3_test, outp, pickle.HIGHEST_PROTOCOL)