In [1]:
import scipy.io
import numpy as np
import pickle

mat = scipy.io.loadmat('../Data/wordpools/PEERS_LSA.mat',squeeze_me = True)
lsa = mat['LSA']

In [2]:
with open('../Data/simu4_word_freq.pkl', 'rb') as inp:
    df = pickle.load(inp)
df

          item  itemno_old  itemno  freq  quantile
0      ABDOMEN           1       1   110         2
1      ACROBAT           4       2    17         0
2        ADULT           8       3   906         8
3        ALLEY          15       4   165         3
4    ALLIGATOR          16       5    12         0
..         ...         ...     ...   ...       ...
979       YOKE        1632     980    12         0
980       YOLK        1633     981    47         1
981      YOUTH        1634     982  1159         8
982     ZIPPER        1636     983    24         0
983        ZOO        1637     984   156         3

[984 rows x 5 columns]

In [3]:
select_idx = df.itemno_old.to_numpy() - 1
lsa_new = lsa[np.ix_(select_idx,select_idx)]
lsa_new

array([[1.      , 0.057245, 0.423196, ..., 0.053728, 0.030244, 0.106214],
       [0.057245, 1.      , 0.109517, ..., 0.242832, 0.004653, 0.216701],
       [0.423196, 0.109517, 1.      , ..., 0.340466, 0.040098, 0.077469],
       ...,
       [0.053728, 0.242832, 0.340466, ..., 1.      , 0.082559, 0.013761],
       [0.030244, 0.004653, 0.040098, ..., 0.082559, 1.      , 0.077847],
       [0.106214, 0.216701, 0.077469, ..., 0.013761, 0.077847, 1.      ]])

In [4]:
np.save('../Data/simu4_smat.npy',lsa_new)