In [1]:
import numpy as np
import pickle
import math
from scipy.stats import sem
import matplotlib.pyplot as plt
import pandas as pd
import time
import pprint
import seaborn as sns
import statsmodels.formula.api as smf
import CMR_IA as cmr
sns.set_context('paper')
pd.set_option('display.max_columns', None)

In [2]:
with open("../Data/simu3_design.pkl", 'rb') as inp:
    df = pickle.load(inp)

In [3]:
df

,position,session,testidx,lag,type,study_itemno1,study_itemno2,test_itemno1,test_itemno2
0,1,0,0,0,0,51,396,125,-1
1,2,0,0,0,0,1,86,100,-1
2,3,0,0,0,0,182,252,198,-1
3,4,0,0,0,0,62,157,75,-1
4,5,0,0,0,0,16,211,180,-1
...,...,...,...,...,...,...,...,...,...
159995,156,999,152,4,2,117,84,268,157
159996,157,999,149,8,2,242,58,139,45
159997,158,999,154,4,1,119,235,90,-1
159998,159,999,155,4,3,32,51,103,27
159999,160,999,156,4,1,128,232,84,-1

In [8]:
rng = np.random.default_rng(seed=42)
n = 400
s_mat = 0.2 * rng.random((n,n))
s_mat = s_mat - np.diag(np.diag(s_mat)) + np.identity(n)
s_mat

array([[1.        , 0.08777569, 0.17171958, ..., 0.05907181, 0.09170962,
        0.08846283],
       [0.06038548, 1.        , 0.15625881, ..., 0.03309755, 0.14503666,
        0.14161825],
       [0.14771608, 0.06343063, 1.        , ..., 0.13121478, 0.05781672,
        0.14694503],
       ...,
       [0.02576001, 0.04965505, 0.05655174, ..., 1.        , 0.1403802 ,
        0.00993662],
       [0.18396194, 0.04309258, 0.02695072, ..., 0.06960782, 1.        ,
        0.11262597],
       [0.05043784, 0.17971369, 0.09654552, ..., 0.17635144, 0.12203646,
        1.        ]])

In [9]:
np.save("../Data/simu3_smat.npy",s_mat)