In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
df = pd.read_table("../Data/RN2_Pix.dat", sep="\s+", names=['subject','session','list','recog_pos','picture','category','study_pos','old_lag','study_lag','confidence','rt'])
df

,subject,session,list,recog_pos,picture,category,study_pos,old_lag,study_lag,confidence,rt
0,103,1,0,1,VA084,_OLD_,6,-999,59,6,705
1,103,1,0,2,GBEN253,_OLD_,5,-1,61,6,936
2,103,1,0,3,ONTO011,_OLD_,3,-2,64,6,678
3,103,1,0,4,ISBO1,_NEW_,-99,-999,-9999,4,1461
4,103,1,0,5,PAGETT11,_OLD_,38,-999,31,5,1799
...,...,...,...,...,...,...,...,...,...,...,...
69883,99,1,5,124,CHN639,_NEW_,-99,-999,-9999,4,1460
69884,99,1,5,125,CT173,_OLD_,39,-999,150,2,1040
69885,99,1,5,126,GRTO2,_NEW_,-99,-999,-9999,2,1269
69886,99,1,5,127,GR022,_OLD_,46,-999,145,1,887
69887,99,1,5,128,VNDPGCC,_OLD_,44,-2,148,2,1154

In [3]:
# pic to itemno & old
pics = np.unique(df.picture)
pic2itemno = {}
for i in range(len(pics)):
    pic2itemno[pics[i]] = i + 1

itemnos = []
for pic in df.picture:
    itemnos.append(pic2itemno[pic])

df['itemno'] = itemnos
df['old'] = df.category == '_OLD_'

In [4]:
# unique list index
subjectlist = np.sort(np.unique(df.subject))
df['list_uni'] = df.apply(lambda x: np.where(subjectlist == x['subject'])[0].item()*6 + x['list'], axis =1)
df = df.sort_values(by = ['list_uni','recog_pos'])
df

,subject,session,list,recog_pos,picture,category,study_pos,old_lag,study_lag,confidence,rt,itemno,old,list_uni
36096,37,1,0,1,CHN211,_OLD_,9,-999,56,6,1053,195,True,0
36097,37,1,0,2,GBEN655,_OLD_,55,46,11,2,2306,493,True,0
36098,37,1,0,3,ECU104,_OLD_,52,-3,15,3,1457,376,True,0
36099,37,1,0,4,MXACP4,_OLD_,47,-5,21,1,2333,998,True,0
36100,37,1,0,5,CHN118,_NEW_,-99,-999,-9999,1,1704,184,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36091,172,1,5,124,JEROCTWL,_NEW_,-99,-999,-9999,2,1076,801,False,545
36092,172,1,5,125,THA064,_NEW_,-99,-999,-9999,6,808,1335,False,545
36093,172,1,5,126,RI003,_OLD_,28,-999,162,4,999,1245,True,545
36094,172,1,5,127,IND117,_NEW_,-99,-999,-9999,2,1114,747,False,545
36095,172,1,5,128,HIO042,_NEW_,-99,-999,-9999,2,923,640,False,545

In [5]:
# organize
df = df.drop(columns=['session','picture','category','confidence','rt','subject','list'])
df = df[['list_uni','recog_pos', 'itemno', 'old', 'old_lag', 'study_pos', 'study_lag']]
df

       list_uni  recog_pos  itemno    old  old_lag  study_pos  study_lag
36096         0          1     195   True     -999          9         56
36097         0          2     493   True       46         55         11
36098         0          3     376   True       -3         52         15
36099         0          4     998   True       -5         47         21
36100         0          5     184  False     -999        -99      -9999
...         ...        ...     ...    ...      ...        ...        ...
36091       545        124     801  False     -999        -99      -9999
36092       545        125    1335  False     -999        -99      -9999
36093       545        126    1245   True     -999         28        162
36094       545        127     747  False     -999        -99      -9999
36095       545        128     640  False     -999        -99      -9999

[69888 rows x 7 columns]

### design

In [6]:
rng = np.random.default_rng(seed=42)
simu_sess_num = 1000
simu_old_num = 64
simu_new_num = 64

list_unique = np.unique(df.list_uni)
sess = rng.choice(list_unique, simu_sess_num)
sess

array([ 48, 422, 357, 239, 236, 468,  46, 380, 110,  51, 287, 532, 401,
       415, 391, 429, 280,  69, 458, 245, 273, 202,  99, 506, 426, 351,
       219, 449, 297, 242, 245, 124,  50, 302, 484,  34, 468, 451, 151,
       344,  90, 413, 382, 193,  37, 530, 243, 487, 370, 424, 414, 106,
       198, 254, 271,  23, 298,  84, 405, 372, 503, 406, 200, 528, 224,
       177, 494, 202,  41, 256, 434, 103, 252,  70, 374, 259, 180, 123,
       308, 365, 513, 238,  87, 454, 343, 382,  53, 170, 419, 454, 237,
       439, 459, 211, 490, 157, 130, 372, 347,  76, 454, 109, 439,   4,
       435, 429, 426, 363, 257, 385, 151, 426, 303, 250, 276, 310,  20,
        76, 134,  62, 240, 364, 357, 257, 466, 308,  43, 417, 313, 346,
       308, 302,  49, 305, 434, 165, 329,  16, 189, 238, 536, 117, 150,
       223, 541, 465,  18, 127, 448,  31, 467, 153, 501, 160, 237, 361,
        68, 304, 275, 428, 543, 362, 223, 221, 228, 444, 175,  91, 182,
        12,  57,  49, 421, 394, 380, 252, 391,  88, 491, 273, 512,  83,
       271, 380, 270, 243,  90, 208, 130, 164, 373, 344, 331, 197, 523,
        47, 187,  64, 185, 525, 199, 496, 270, 382, 249, 145, 417, 529,
       143, 425, 142, 391, 430, 245, 402, 148,  43,  52, 244, 492,  69,
       248, 384, 110, 394, 167, 441, 316, 298,  96, 252, 467,  10, 414,
       269, 392, 362, 235, 168, 342,  76, 318,  51, 354, 343,  46, 413,
       227, 429,  22,  97, 269, 102, 180, 360,  78, 370,  56,  95, 320,
       433,  93, 163, 505, 540, 317, 244, 189, 334, 322, 160,  12,  82,
       523, 228, 263, 255, 427,  35,  45, 150, 265, 366, 267, 240, 512,
        87, 312, 296, 258, 440, 145, 520, 181, 297, 284, 463, 239, 155,
        11, 198, 451,   5, 489, 296,  76, 164, 302, 172,  59, 363, 367,
        64, 153, 133, 360, 398, 396, 512, 419, 175,  58, 335, 500, 532,
       125, 129,  20,  77, 302, 298, 202, 169, 453, 251, 441, 525, 173,
       110, 520, 346, 158, 339, 281, 494, 139, 541, 511,  98,  89, 291,
        24, 163, 237, 529, 541,  82, 486,  49, 408, 461, 486, 121, 487,
        63, 283, 256, 172,  12, 421, 183, 361, 223, 204, 483,  51, 402,
       407, 207, 143,   2, 511, 517, 131,  17,  67,  36, 453, 486,  83,
       407,  97, 200, 327, 393, 477,  24, 107, 153, 169, 544, 424, 174,
       530, 272, 273, 236,  78, 510,   7,  95, 125, 152,  71,   9, 370,
       529,  66, 161, 276, 506, 379, 418, 317, 227, 109, 471, 439,  13,
       390,  46, 403, 450,  71, 236,  67, 309, 506,  44, 217, 531, 164,
        72, 266, 277, 361, 171, 521, 284, 156, 524, 504, 272,  13, 325,
       303,  80, 346, 459,  57, 394,  76, 408, 228,   3, 527,  90, 325,
        99, 509, 403, 439, 235, 255, 346, 428, 462,   9, 362,  59, 157,
       452, 136, 435, 252, 127, 182, 289, 417, 330, 509, 473, 411, 329,
       158, 225,  64, 204, 505, 232,  62, 355, 525, 473, 149, 247, 289,
       135, 146, 129, 543, 407, 459, 445, 523,  57, 481,  36, 259, 324,
       195,  79, 104, 450, 174, 169, 504,  78, 499, 502, 326,  90,  85,
       155, 315,  83, 248,  63, 294,  11, 387,  30, 106,  95, 453,  29,
       234, 322, 281, 371, 438, 214, 452, 173, 537, 275, 401, 477, 432,
       464, 292,  23, 269,  99, 485, 129, 124, 136, 350, 311, 518, 227,
       154,  26,   3, 203, 505, 285, 487,  55,  50, 455,  58,  28, 220,
       504, 376,  54, 457, 460, 437, 492, 130, 534, 175, 437, 316, 425,
       342, 350, 336, 425, 403,  73, 451, 292, 176, 280, 527, 468, 455,
       252, 428, 210, 374, 349, 136, 145,  33,  76, 236, 260,  90, 227,
       329, 126, 184, 200, 275, 200, 402, 178, 236, 207,  99, 374, 128,
       162, 432, 518, 366, 500, 466, 262, 420, 179, 251, 292, 524, 463,
       267, 356, 110, 439, 301, 290, 418, 345,  39, 157,  96, 401,  19,
       110, 326, 379, 274, 469, 501,  72, 520, 335, 347,  51, 339, 396,
       317,  46, 285, 511, 394,  75, 524, 523,  92, 437, 222, 324, 243,
       427, 544, 434, 508, 516,  49, 138, 394, 322,  27,  51, 284, 336,
        91,  93,  70, 308,   4, 312, 259, 254, 370, 285, 397, 417, 502,
       436, 282, 268, 128, 327,  75, 508, 461,  65, 429,  63, 393,  47,
       266, 359, 397, 228, 503, 422, 113, 366, 398, 182, 403, 490, 446,
       416, 346, 147, 434, 198, 290, 171, 170,  86, 524,  80,  47, 511,
       303, 239, 402, 209,  69, 398,  96, 301, 518, 511, 196, 426, 334,
       261,  76, 205, 355, 538,   2, 391, 462, 519, 231,  64, 147, 464,
       479, 347,  67,  66, 261, 321,  17, 374, 297,   6,  52, 248, 394,
       450, 235, 161, 528, 250, 172, 241,   6, 164, 281, 501, 403, 426,
       297,  60, 213, 544,  24, 480, 373, 155, 424, 456,  23,  58, 363,
       545,  13, 363,  74, 354, 340,  49, 371, 489, 471,  15, 134, 131,
       247,  78, 466, 424, 441, 108,   7, 497, 157, 358, 496,  19,   2,
         2,  85,  28, 447, 330, 535, 437, 525, 130, 157, 463, 133,  31,
       365, 437, 528, 506,  65, 421, 461, 381, 447, 457, 243,  21, 249,
       110,  62,  68, 380, 275, 294, 406, 299, 343,  46, 464, 245,  84,
       444, 401,  28, 105,   8, 147,  54, 387, 285, 535, 409, 333, 278,
        29,  38, 336,   2,  23, 119, 482, 250, 387, 224,  94, 202,  50,
       420, 100, 205, 535, 323, 250, 296, 428, 138, 347, 476, 312, 243,
        79, 135, 516, 295, 164, 228, 315, 293, 382, 140, 354, 241, 513,
        86,  81, 252, 277, 377, 220, 498, 258,  70,  65, 531,  73, 517,
       151,  51, 166, 335, 233, 428, 333, 218, 346, 530, 224,  83, 223,
       458, 118, 518, 321, 328, 173, 502,  19, 163, 228, 260, 258,  80,
       123,  52, 312, 191, 308, 321, 383, 298, 353, 320, 356, 336, 172,
       134, 429, 187, 299, 107, 235, 289, 341, 287, 196, 525, 279])

In [7]:
df_study = pd.DataFrame()
df_test = pd.DataFrame()

for i in range(len(sess)):
    tmp = df.loc[df.list_uni == sess[i]]
    tmp["session"] = i
    
    df_test = df_test.append(tmp)
    
    tmp_study = tmp.loc[tmp.old == True]
    tmp_study = tmp_study.sort_values(by = "study_pos")
    df_study = df_study.append(tmp_study)
    
df_study.reset_index(drop = True, inplace = True)
df_test.reset_index(drop = True, inplace = True)

/home1/beigejin/.conda/envs/jinbeige/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df_study = df_study.drop(columns=['recog_pos', 'old', 'old_lag','study_lag'])
df_study

       list_uni  itemno  study_pos  session
0            48    1328          1        0
1            48     768          2        0
2            48     518          3        0
3            48      21          4        0
4            48     914          5        0
...         ...     ...        ...      ...
63995       279     801         60      999
63996       279     997         61      999
63997       279    1186         62      999
63998       279    1279         63      999
63999       279    1475         64      999

[64000 rows x 4 columns]

In [9]:
df_test

,list_uni,recog_pos,itemno,old,old_lag,study_pos,study_lag,session
0,48,1,490,True,-999,52,13,0
1,48,2,541,True,9,61,5,0
2,48,3,1066,False,-999,-99,-9999,0
3,48,4,942,True,-999,34,34,0
4,48,5,1464,False,-999,-99,-9999,0
...,...,...,...,...,...,...,...,...
127995,279,124,530,True,-4,26,162,999
127996,279,125,357,False,-999,-99,-9999,999
127997,279,126,307,False,-999,-99,-9999,999
127998,279,127,1349,False,-999,-99,-9999,999
127999,279,128,914,True,-999,40,152,999

In [10]:
with open('../Data/simu2_design.pkl', 'wb') as outp:
    pickle.dump(df_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_test, outp, pickle.HIGHEST_PROTOCOL)