In [1]:
import numpy as np
import pickle
import math
import matplotlib.pyplot as plt
import pandas as pd
import time
import pprint
import seaborn as sns
import CMR_IA as cmr
import scipy as sp
sns.set_context('paper')
np.set_printoptions(suppress=True)
# pd.set_option('display.max_columns', None)

In [2]:
def simu_success(tag, params):
    # which task
    path = "../Data/simuS1_design.pkl"
    if tag == "Asso-CR":
        # path = "../Data/simuS1_group1_design.pkl"
        nitems = 48*4  # 96
        test1_num = 40
        i = 1
    elif tag == "Pair-CR":
        # path = "../Data/simuS1_group2_design.pkl"
        nitems = 48*4  # 176
        test1_num = 80
        i = 2
    elif tag == "Item-CR":
        # path = "../Data/simuS1_group3_design.pkl"
        nitems = 48*4  # 136
        test1_num = 80
        i = 3

    # load stimuli
    with open(path, 'rb') as inp:
        df_study = pickle.load(inp)
        df_test = pickle.load(inp)
    df_study = df_study.query(f"group == {i}")
    df_test = df_test.query(f"group == {i}")

    # load semantic matrix
    s_mat = np.load('../Data/wordpools/ltp_FR_similarity_matrix.npy')

    # update n_item in params to fit the study
    params.update(nitems_in_accumulator = nitems)
    # print(params)

    # run CMR
    df_simu, f_in_acc, f_in_dif = cmr.run_success_multi_sess(params, df_study, df_test, s_mat)
    df_simu['test'] = df_test['test']
    df_simu = df_simu.merge(df_test,on=['session','list','test','test_itemno1','test_itemno2'])

    # get f_in
    sessions = np.unique(df_simu.session)
    tmp_corr_fin = []
    tmp_omax_fin = []

    for sess in sessions:
        df_tmp = df_study.loc[df_study.session == sess]
        tmp1 = df_tmp.study_itemno1.to_numpy()
        tmp2 = df_tmp.study_itemno2.to_numpy()
        df_tmp2 = df_test.loc[df_test.session == sess]
        tmp3 = df_tmp2.test_itemno1[df_tmp2.test_itemno1 >= 0].to_numpy()
        tmp4 = df_tmp2.test_itemno2[df_tmp2.test_itemno2 >= 0].to_numpy()
        tmp = np.concatenate((tmp1, tmp2, tmp3, tmp4))
        tmp = np.unique(tmp)  # sort
        nlists = len(np.unique(df_simu.list))

        for lst in range(nlists):
            tmp_corr = df_simu.query(f"session == {sess} and list == {lst}")["correct_ans"][test1_num:]
            corrid = np.searchsorted(tmp, tmp_corr)
            corr_fin = [f_in_dif[sess][lst*int(test1_num/2)+i][id] for i, id in enumerate(corrid)]
            omax_fin = [np.max(np.delete(f_in_dif[sess][lst*int(test1_num/2)+i], id)) for i, id in enumerate(corrid)]

            tmp_corr_fin = tmp_corr_fin + [-1] * test1_num + corr_fin
            tmp_omax_fin = tmp_omax_fin + [-1] * test1_num + omax_fin

    df_simu['corr_fin'] = tmp_corr_fin
    df_simu['omax_fin'] = tmp_omax_fin

    # optimal threshold for test1 (only when manually!!)
    csim_two = df_simu.query("test==1").groupby("correct_ans").csim.mean()
    opt_thresh = np.mean(csim_two)
    df_simu['s_resp'] = df_simu.apply(lambda x: (1 if x['csim'] > opt_thresh else 0) if x['test'] == 1 else x['s_resp'], axis=1)

    return df_simu

In [3]:
# anal_perform used by pso
import sys
sys.path.append("../Modeling/CMR_IA/fitting")
from object_funcs import anal_perform_S1 as anal_perform

In [4]:
# def anal_perform(df_simu):

#     # get correctness
#     df_simu['correct'] = df_simu.s_resp == df_simu.correct_ans

#     # recognition performance
#     df_recog = df_simu.query("test==1")
#     hr_far = df_recog.groupby("correct_ans")["s_resp"].mean().to_frame(name="Yes rate")
#     hr = hr_far['Yes rate'][1]
#     far = hr_far['Yes rate'][0]
#     z_hr_far = sp.stats.norm.ppf(hr_far)
#     d_prime = z_hr_far[1].item() - z_hr_far[0].item()
#     print("recognition: \n", hr_far)
#     print("d_prime: ", d_prime)

#     # cued recall performance
#     df_cr = df_simu.query("test==2")
#     p_rc = df_cr.correct.mean()
#     print("cued recall: \n", p_rc)

#     # analyze pair
#     def get_pair(df_tmp):
#         df_tmp_pair = pd.pivot_table(df_tmp,index="pair_idx",columns="test",values="correct")
#         df_tmp_pair.columns = ["test1","test2"]
#         df_tmp_pair.reset_index(inplace=True)
#         return df_tmp_pair

#     df_simu_p = df_simu.query("pair_idx >= 0")
#     df_pair = df_simu_p.groupby("session").apply(get_pair).reset_index()
#     test2_rsp = pd.Categorical(df_pair.test2, categories=[0,1])
#     test1_rsp = pd.Categorical(df_pair.test1, categories=[0,1])
#     df_tab = pd.crosstab(index=test2_rsp,columns=test1_rsp, rownames=['test2'], colnames=['test1'], normalize=False, dropna=False)
#     print("contingency table: \n", df_tab)
#     # print("contingency table norm: \n", pd.crosstab(index=df_pair.test2,columns=df_pair.test1,normalize='all'))

#     # compute" Q
#     def Yule_Q(A, B, C, D):
#         return (A * D - B * C) / (A * D + B * C)
#     q = Yule_Q(df_tab[1][1]+0.5,df_tab[0][1]+0.5,df_tab[1][0]+0.5,df_tab[0][0]+0.5)  # add 0.5
#     print("Q: ", q)

#     return p_rc, hr, far, q

### Study Params

In [5]:
params = cmr.make_default_params()
# learn while retrieving
# multiple lists, so beta_rec_post
# correct session num - done
# it seems that the size of all potential words matters, the more, the worse CR. RISK IT!

In [6]:
# manually adjusted params
# study params should be the same across three groups
params.update(
    beta_enc = 0.3,
    gamma_fc = 0.2,
    gamma_cf = 0.2,
    s_fc = 0.2,
    s_cf = 0.2,
    phi_s = 1,
    phi_d = 0.6,
    d_ass = 1,
    learn_while_retrieving = False,
    var_enc = 1,
    bad_enc_ratio = 1,
)
params.update(
    beta_cue = 0.4,
    beta_rec = 0.1,  # beta for retrieved item
    beta_rec_post = 1,
    beta_distract = 0.1,
    # beta_rec_post = 0.1,
    c_thresh_itm = 0.01,
    c_thresh_ass = 0.01,
    c_thresh = 0.01,
    kappa = 0.01,
    lamb = 0.002,
    eta = 0.002,
    omega = 3,
    alpha = 1
)
params

{'beta_enc': 0.3,
 'beta_rec': 0.1,
 'beta_cue': 0.4,
 'beta_rec_post': 1,
 'beta_distract': 0.1,
 'phi_s': 1,
 'phi_d': 0.6,
 's_cf': 0.2,
 's_fc': 0.2,
 'kappa': 0.01,
 'eta': 0.002,
 'omega': 3,
 'alpha': 1,
 'c_thresh': 0.01,
 'c_thresh_itm': 0.01,
 'c_thresh_ass': 0.01,
 'd_ass': 1,
 'lamb': 0.002,
 'rec_time_limit': 60000.0,
 'dt': 10,
 'nitems_in_accumulator': 50,
 'max_recalls': 50,
 'learn_while_retrieving': False,
 'a': 2800,
 'b': 20,
 'm': 0,
 'n': 1,
 'c1': 0,
 'No_recall': None,
 'var_enc': 1,
 'bad_enc_ratio': 1,
 'gamma_fc': 0.2,
 'gamma_cf': 0.2}

In [7]:
# # pso results
# import sys
# sys.path.append("../Modeling/CMR_IA/fitting")
# from optimization_utils import make_boundary

# _,_,what_to_fit = make_boundary(sim_name='S1')
# optim_params = np.loadtxt("../Modeling/CMR_IA/fitting/outparams_backup/S1_230803_100-100.txt")
# for pname, pvalue in zip(what_to_fit, optim_params):
#     params[pname] = pvalue
# params.update(beta_rec_post=1)
# params

### Association - CR (Group1)

In [8]:
tag = "Asso-CR"
df_simu_g1 = simu_success(tag, params)
df_simu_g1

CMR2 Time: 78.33125352859497

,session,list,test_itemno1,test_itemno2,s_resp,s_rt,csim,test,test_item1,test_item2,correct_ans,order,pair_idx,subject,group,corr_fin,omax_fin
0,0,0,1213,926,1.0,0.014517,0.618491,1,ROUGE,MOUTH,0,1,-1,0,1,-1.000000,-1.000000
1,0,0,830,717,0.0,0.126223,0.510354,1,LIST,HORIZON,1,1,34,0,1,-1.000000,-1.000000
2,0,0,577,1183,0.0,0.496779,0.441849,1,FLEA,RELISH,1,1,0,0,1,-1.000000,-1.000000
3,0,0,588,439,1.0,0.018592,0.606119,1,FOLDER,DANDRUFF,1,0,25,0,1,-1.000000,-1.000000
4,0,0,687,1311,1.0,0.009859,0.637839,1,HANGER,SIRLOIN,1,1,22,0,1,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,99,4,1169,-1,1593.0,1630.000000,0.657843,2,RAT,-1,331,0,226,99,1,-0.477878,-0.226715
29996,99,4,1349,-1,881.0,1640.000000,0.645747,2,SPHINX,-1,848,1,219,99,1,-0.378796,-0.231552
29997,99,4,1307,-1,496.0,1620.000000,0.626900,2,SILK,-1,72,0,194,99,1,-0.359292,-0.252313
29998,99,4,984,-1,636.0,1660.000000,0.620462,2,ORGAN,-1,899,1,196,99,1,-0.346722,-0.268709
29999,99,4,614,-1,26.0,1600.000000,0.631033,2,FUNGUS,-1,1006,0,204,99,1,-0.337431,-0.250014

In [9]:
# df_simu_g1.query("test==2 and session == 0 and list == 0")

In [10]:
subjects = np.unique(df_simu_g1.subject)
g1_stats = []
for subj in subjects:
    df_subj = df_simu_g1.query(f"subject == {subj}").copy()
    # df_subj = df_simu_g1.query(f"subject == {subj} and list == 0").copy()
    g1_stats.append(list(anal_perform(df_subj)))

contingency table:
 test1   0   1
test2
0      15  72
1       0  13
contingency table:
 test1   0   1
test2
0      27  59
1       0  14
contingency table:
 test1   0   1
test2
0      18  70
1       0  12
contingency table:
 test1   0   1
test2
0      28  62
1       0  10
contingency table:
 test1   0   1
test2
0      23  60
1       0  17
contingency table:
 test1   0   1
test2
0      21  67
1       0  12
contingency table:
 test1   0   1
test2
0      22  60
1       0  18
contingency table:
 test1   0   1
test2
0      16  70
1       0  14
contingency table:
 test1   0   1
test2
0      19  72
1       0   9
contingency table:
 test1   0   1
test2
0      26  61
1       0  13
contingency table:
 test1   0   1
test2
0      14  66
1       0  20
contingency table:
 test1   0   1
test2
0      21  69
1       1   9
contingency table:
 test1   0   1
test2
0      28  61
1       1  10
contingency table:
 test1   0   1
test2
0      12  73
1       0  15
contingency table:
 test1   0   1
test2
0      20  65
1       0  15
contingency table:
 test1   0   1
test2
0      21  67
1       1  11
contingency table:
 test1   0   1
test2
0      24  58
1       0  18
contingency table:
 test1   0   1
test2
0      24  67
1       0   9
contingency table:
 test1   0   1
test2
0      13  71
1       0  16
contingency table:
 test1   0   1
test2
0      15  71
1       0  14
contingency table:
 test1   0   1
test2
0      23  65
1       0  12
contingency table:
 test1   0   1
test2
0      21  68
1       0  11
contingency table:
 test1   0   1
test2
0      18  70
1       0  12
contingency table:
 test1   0   1
test2
0      21  62
1       0  17
contingency table:
 test1   0   1
test2
0      30  63
1       0   7
contingency table:
 test1   0   1
test2
0      18  63
1       0  19
contingency table:
 test1   0   1
test2
0      21  69
1       0  10
contingency table:
 test1   0   1
test2
0      21  68
1       0  11
contingency table:
 test1   0   1
test2
0      18  75
1       0   7
contingency table:
 test1   0   1
test2
0      18  67
1       0  15
contingency table:
 test1   0   1
test2
0      22  65
1       0  13
contingency table:
 test1   0   1
test2
0      26  60
1       0  14
contingency table:
 test1   0   1
test2
0      23  61
1       0  16
contingency table:
 test1   0   1
test2
0      24  61
1       0  15
contingency table:
 test1   0   1
test2
0      17  71
1       0  12
contingency table:
 test1   0   1
test2
0      20  68
1       0  12
contingency table:
 test1   0   1
test2
0      20  64
1       0  16
contingency table:
 test1   0   1
test2
0      21  71
1       0   8
contingency table:
 test1   0   1
test2
0      22  63
1       0  15
contingency table:
 test1   0   1
test2
0      22  62
1       0  16
contingency table:
 test1   0   1
test2
0      24  68
1       0   8
contingency table:
 test1   0   1
test2
0      14  74
1       0  12
contingency table:
 test1   0   1
test2
0      25  61
1       0  14
contingency table:
 test1   0   1
test2
0      16  71
1       0  13
contingency table:
 test1   0   1
test2
0      24  65
1       0  11
contingency table:
 test1   0   1
test2
0      23  67
1       0  10
contingency table:
 test1   0   1
test2
0      16  73
1       0  11
contingency table:
 test1   0   1
test2
0      17  69
1       0  14
contingency table:
 test1   0   1
test2
0      21  58
1       0  21
contingency table:
 test1   0   1
test2
0      21  63
1       0  16
contingency table:
 test1   0   1
test2
0      28  60
1       0  12
contingency table:
 test1   0   1
test2
0      19  68
1       0  13
contingency table:
 test1   0   1
test2
0      23  61
1       0  16
contingency table:
 test1   0   1
test2
0      23  65
1       0  12
contingency table:
 test1   0   1
test2
0      25  66
1       0   9
contingency table:
 test1   0   1
test2
0      20  69
1       0  11
contingency table:
 test1   0   1
test2
0      24  61
1       0  15
contingency table:
 test1   0   1
test2
0      29  67
1       0   4
contingency table:
 test1   0   1
test2
0      17  67
1       0  16
contingency table:
 test1   0   1
test2
0      16  74
1       0  10
contingency table:
 test1   0   1
test2
0      17  71
1       0  12
contingency table:
 test1   0   1
test2
0      20  67
1       0  13
contingency table:
 test1   0   1
test2
0      16  72
1       0  12
contingency table:
 test1   0   1
test2
0      17  75
1       0   8
contingency table:
 test1   0   1
test2
0      28  61
1       0  11
contingency table:
 test1   0   1
test2
0      22  65
1       0  13
contingency table:
 test1   0   1
test2
0      12  75
1       0  13
contingency table:
 test1   0   1
test2
0      23  64
1       0  13
contingency table:
 test1   0   1
test2
0      17  73
1       0  10
contingency table:
 test1   0   1
test2
0      19  73
1       1   7
contingency table:
 test1   0   1
test2
0      26  65
1       0   9
contingency table:
 test1   0   1
test2
0      13  79
1       0   8
contingency table:
 test1   0   1
test2
0      20  65
1       0  15
contingency table:
 test1   0   1
test2
0      16  71
1       0  13
contingency table:
 test1   0   1
test2
0      29  58
1       0  13
contingency table:
 test1   0   1
test2
0      19  72
1       0   9
contingency table:
 test1   0   1
test2
0      17  69
1       1  13
contingency table:
 test1   0   1
test2
0      24  59
1       0  17
contingency table:
 test1   0   1
test2
0      21  66
1       0  13
contingency table:
 test1   0   1
test2
0      21  68
1       0  11
contingency table:
 test1   0   1
test2
0      22  60
1       1  17
contingency table:
 test1   0   1
test2
0      23  62
1       0  15
contingency table:
 test1   0   1
test2
0      20  72
1       0   8
contingency table:
 test1   0   1
test2
0      20  76
1       0   4
contingency table:
 test1   0   1
test2
0      17  70
1       0  13
contingency table:
 test1   0   1
test2
0      21  63
1       0  16
contingency table:
 test1   0   1
test2
0      21  70
1       0   9
contingency table:
 test1   0   1
test2
0      17  72
1       0  11
contingency table:
 test1   0   1
test2
0      16  69
1       1  14
contingency table:
 test1   0   1
test2
0      18  73
1       0   9
contingency table:
 test1   0   1
test2
0      29  60
1       0  11
contingency table:
 test1   0   1
test2
0      13  76
1       1  10
contingency table:
 test1   0   1
test2
0      22  67
1       0  11
contingency table:
 test1   0   1
test2
0      19  69
1       0  12
contingency table:
 test1   0   1
test2
0      15  74
1       0  11
contingency table:
 test1   0   1
test2
0      24  63
1       0  13
contingency table:
 test1   0   1
test2
0      24  54
1       0  22
contingency table:
 test1   0   1
test2
0      27  62
1       0  11
contingency table:
 test1   0   1
test2
0      25  69
1       0   6
contingency table:
 test1   0   1
test2
0      24  65
1       0  11

In [11]:
print(np.array(g1_stats))
print(np.mean(np.array(g1_stats),axis=0))
print(sp.stats.sem(np.array(g1_stats),axis=0))

[[0.13       0.85       0.25       0.70468432]
 [0.14       0.73       0.3        0.86114352]
 [0.12       0.82       0.34       0.73545966]
 [0.1        0.72       0.26       0.81089259]
 [0.17       0.77       0.16       0.86296716]
 [0.12       0.79       0.23       0.7768595 ]
 [0.18       0.78       0.3        0.86450168]
 [0.14       0.84       0.29       0.7431694 ]
 [0.09       0.81       0.2        0.67268623]
 [0.13       0.74       0.27       0.84169884]
 [0.2        0.86       0.27       0.79878971]
 [0.1        0.78       0.32       0.32414911]
 [0.11       0.71       0.2        0.52873563]
 [0.15       0.88       0.26       0.68112798]
 [0.15       0.8        0.22       0.81312411]
 [0.12       0.78       0.42       0.41893831]
 [0.18       0.76       0.22       0.87875648]
 [0.09       0.76       0.22       0.7467167 ]
 [0.16       0.87       0.34       0.72340426]
 [0.14       0.85       0.29       0.72552783]
 [0.12       0.77       0.42       0.79938744]
 [0.11       0.79       0.37       0.75666075]
 [0.12       0.82       0.24       0.73545966]
 [0.17       0.79       0.25       0.84662577]
 [0.07       0.7        0.32       0.756238  ]
 [0.19       0.82       0.29       0.83821656]
 [0.1        0.79       0.31       0.73320537]
 [0.11       0.79       0.34       0.75666075]
 [0.07       0.82       0.3        0.57223796]
 [0.15       0.82       0.31       0.78939158]
 [0.13       0.78       0.31       0.80534918]
 [0.14       0.74       0.25       0.85404101]
 [0.16       0.77       0.24       0.85304659]
 [0.15       0.76       0.32       0.8501827 ]
 [0.12       0.83       0.21       0.71905697]
 [0.12       0.8        0.28       0.76419966]
 [0.16       0.8        0.19       0.82591093]
 [0.08       0.79       0.24       0.67276888]
 [0.15       0.78       0.32       0.83311432]
 [0.16       0.78       0.28       0.8447205 ]
 [0.08       0.76       0.25       0.71752577]
 [0.12       0.86       0.28       0.6590389 ]
 [0.14       0.75       0.23       0.84644195]
 [0.13       0.84       0.29       0.72340426]
 [0.11       0.76       0.3        0.79173291]
 [0.1        0.77       0.37       0.75935829]
 [0.11       0.84       0.35       0.67549669]
 [0.14       0.83       0.24       0.75909879]
 [0.21       0.79       0.27       0.8809766 ]
 [0.16       0.79       0.24       0.83570505]
 [0.12       0.72       0.21       0.84346701]
 [0.13       0.81       0.26       0.7697479 ]
 [0.16       0.77       0.26       0.85304659]
 [0.12       0.77       0.24       0.79938744]
 [0.09       0.75       0.31       0.75862069]
 [0.11       0.8        0.3        0.74306839]
 [0.15       0.76       0.26       0.8501827 ]
 [0.04       0.71       0.29       0.59459459]
 [0.16       0.83       0.3        0.79069767]
 [0.1        0.84       0.29       0.64608076]
 [0.12       0.83       0.23       0.71905697]
 [0.13       0.8        0.22       0.7826087 ]
 [0.12       0.84       0.28       0.70103093]
 [0.08       0.83       0.31       0.59517426]
 [0.11       0.72       0.2        0.82845188]
 [0.13       0.78       0.29       0.80534918]
 [0.13       0.88       0.24       0.63438257]
 [0.13       0.77       0.33       0.81545064]
 [0.1        0.83       0.26       0.66666667]
 [0.08       0.8        0.29       0.14035088]
 [0.09       0.74       0.28       0.76977153]
 [0.08       0.87       0.37       0.48543689]
 [0.15       0.8        0.21       0.81312411]
 [0.13       0.84       0.29       0.72340426]
 [0.13       0.71       0.29       0.86315789]
 [0.09       0.81       0.37       0.67268623]
 [0.14       0.82       0.36       0.3876652 ]
 [0.17       0.76       0.2        0.87022901]
 [0.13       0.79       0.24       0.79443586]
 [0.11       0.79       0.28       0.75666075]
 [0.18       0.77       0.21       0.625387  ]
 [0.15       0.77       0.2        0.84197219]
 [0.08       0.8        0.3        0.65558195]
 [0.04       0.8        0.32       0.4137931 ]
 [0.13       0.83       0.25       0.74033149]
 [0.16       0.79       0.3        0.83570505]
 [0.09       0.79       0.24       0.70563674]
 [0.11       0.83       0.27       0.69473684]
 [0.15       0.83       0.16       0.3930131 ]
 [0.09       0.82       0.23       0.65411765]
 [0.11       0.71       0.32       0.83626522]
 [0.11       0.86       0.29       0.10526316]
 [0.11       0.78       0.23       0.76923077]
 [0.12       0.81       0.36       0.75044883]
 [0.11       0.85       0.27       0.65429234]
 [0.13       0.76       0.16       0.82482759]
 [0.22       0.76       0.26       0.90579084]
 [0.11       0.73       0.21       0.82014388]
 [0.06       0.75       0.22       0.65336658]
 [0.11       0.76       0.25       0.79173291]]
[0.125      0.792      0.2728     0.72914212]
[0.00335598 0.00418752 0.00529166 0.01446242]

### Pair - CR (Group2)

In [12]:
tag = "Pair-CR"
df_simu_g2 = simu_success(tag, params)
df_simu_g2

CMR2 Time: 120.71325492858887

,session,list,test_itemno1,test_itemno2,s_resp,s_rt,csim,test,test_item1,test_item2,correct_ans,order,pair_idx,subject,group,corr_fin,omax_fin
0,0,0,803,1108,0.0,0.362688,0.457579,1,LAUNDRY,PORK,0,-1,-1,0,2,-1.000000,-1.000000
1,0,0,1310,795,0.0,0.986046,0.407571,1,SIREN,LAGOON,0,-1,-1,0,2,-1.000000,-1.000000
2,0,0,356,1011,1.0,0.024406,0.592514,1,COMMUNITY,PAPER,1,0,18,0,2,-1.000000,-1.000000
3,0,0,238,1575,1.0,0.014086,0.619996,1,CAPITAL,VOLCANO,1,0,36,0,2,-1.000000,-1.000000
4,0,0,121,1572,0.0,14.253997,0.274017,1,BENCH,VIRUS,0,-1,-1,0,2,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,99,3,545,-1,1489.0,1510.000000,0.614297,2,EYE,-1,152,0,171,99,2,-0.439684,-0.203429
47996,99,3,471,-1,1612.0,1660.000000,0.588175,2,DIRECTOR,-1,352,1,144,99,2,-0.459076,-0.262367
47997,99,3,50,-1,1261.0,1650.000000,0.631751,2,ASTEROID,-1,674,0,177,99,2,-0.342888,-0.220733
47998,99,3,850,-1,337.0,1620.000000,0.628664,2,LUNG,-1,1326,1,169,99,2,-0.416143,-0.231776
47999,99,3,1255,-1,570.0,1550.000000,0.634111,2,SCREWDRIVER,-1,839,0,173,99,2,-0.346393,-0.197039

In [13]:
subjects = np.unique(df_simu_g2.subject)
g2_stats = []
for subj in subjects:
    df_subj = df_simu_g2.query(f"subject == {subj}").copy()
    g2_stats.append(list(anal_perform(df_subj)))

contingency table:
 test1   0    1
test2
0      20  124
1       0   16
contingency table:
 test1   0    1
test2
0      18  121
1       0   21
contingency table:
 test1   0    1
test2
0      10  133
1       0   17
contingency table:
 test1   0    1
test2
0      11  135
1       0   14
contingency table:
 test1   0    1
test2
0      17  125
1       0   18
contingency table:
 test1   0    1
test2
0      16  131
1       0   13
contingency table:
 test1   0    1
test2
0      16  125
1       0   19
contingency table:
 test1   0    1
test2
0      15  127
1       0   18
contingency table:
 test1   0    1
test2
0      11  133
1       0   16
contingency table:
 test1   0    1
test2
0      12  131
1       0   17
contingency table:
 test1   0    1
test2
0      12  132
1       0   16
contingency table:
 test1   0    1
test2
0      11  132
1       0   17
contingency table:
 test1   0    1
test2
0      19  128
1       0   13
contingency table:
 test1   0    1
test2
0      19  131
1       0   10
contingency table:
 test1   0    1
test2
0      11  139
1       0   10
contingency table:
 test1   0    1
test2
0      10  133
1       0   17
contingency table:
 test1  0    1
test2
0      6  135
1      0   19
contingency table:
 test1   0    1
test2
0      13  135
1       0   12
contingency table:
 test1   0    1
test2
0      15  118
1       0   27
contingency table:
 test1   0    1
test2
0      17  120
1       0   23
contingency table:
 test1   0    1
test2
0      11  137
1       0   12
contingency table:
 test1   0    1
test2
0      15  121
1       0   24
contingency table:
 test1   0    1
test2
0      12  132
1       0   16
contingency table:
 test1   0    1
test2
0      14  126
1       0   20
contingency table:
 test1   0    1
test2
0      16  131
1       0   13
contingency table:
 test1   0    1
test2
0      15  129
1       0   16
contingency table:
 test1   0    1
test2
0      16  125
1       0   19
contingency table:
 test1   0    1
test2
0      15  131
1       0   14
contingency table:
 test1   0    1
test2
0      12  135
1       0   13
contingency table:
 test1   0    1
test2
0      19  127
1       0   14
contingency table:
 test1   0    1
test2
0      12  128
1       0   20
contingency table:
 test1   0    1
test2
0      15  128
1       0   17
contingency table:
 test1   0    1
test2
0      13  131
1       0   16
contingency table:
 test1   0    1
test2
0      16  127
1       0   17
contingency table:
 test1   0    1
test2
0      16  132
1       0   12
contingency table:
 test1   0    1
test2
0      13  129
1       0   18
contingency table:
 test1   0    1
test2
0      23  119
1       0   18
contingency table:
 test1   0    1
test2
0      17  126
1       0   17
contingency table:
 test1   0    1
test2
0      18  123
1       0   19
contingency table:
 test1   0    1
test2
0      15  129
1       0   16
contingency table:
 test1  0    1
test2
0      9  129
1      0   22
contingency table:
 test1   0    1
test2
0      12  131
1       0   17
contingency table:
 test1   0    1
test2
0      17  123
1       0   20
contingency table:
 test1   0    1
test2
0      14  135
1       0   11
contingency table:
 test1   0    1
test2
0      17  127
1       0   16
contingency table:
 test1   0    1
test2
0      14  130
1       0   16
contingency table:
 test1  0    1
test2
0      9  131
1      0   20
contingency table:
 test1   0    1
test2
0      13  126
1       0   21
contingency table:
 test1  0    1
test2
0      8  132
1      0   20
contingency table:
 test1   0    1
test2
0      14  132
1       0   14
contingency table:
 test1  0    1
test2
0      6  140
1      0   14
contingency table:
 test1   0    1
test2
0      10  133
1       0   17
contingency table:
 test1   0    1
test2
0      11  129
1       0   20
contingency table:
 test1   0    1
test2
0      14  128
1       0   18
contingency table:
 test1   0    1
test2
0      11  135
1       0   14
contingency table:
 test1   0    1
test2
0      17  128
1       0   15
contingency table:
 test1   0    1
test2
0      10  132
1       0   18
contingency table:
 test1   0    1
test2
0      20  116
1       0   24
contingency table:
 test1   0    1
test2
0      14  126
1       0   20
contingency table:
 test1   0    1
test2
0      12  134
1       0   14
contingency table:
 test1   0    1
test2
0      15  125
1       0   20
contingency table:
 test1   0    1
test2
0      15  127
1       0   18
contingency table:
 test1   0    1
test2
0      14  137
1       0    9
contingency table:
 test1   0    1
test2
0      17  135
1       0    8
contingency table:
 test1   0    1
test2
0      13  124
1       0   23
contingency table:
 test1   0    1
test2
0      19  126
1       0   15
contingency table:
 test1   0    1
test2
0      16  125
1       0   19
contingency table:
 test1   0    1
test2
0      18  124
1       0   18
contingency table:
 test1   0    1
test2
0      17  121
1       0   22
contingency table:
 test1   0    1
test2
0      15  126
1       0   19
contingency table:
 test1   0    1
test2
0      16  125
1       0   19
contingency table:
 test1   0    1
test2
0      16  129
1       0   15
contingency table:
 test1   0    1
test2
0      18  126
1       0   16
contingency table:
 test1   0    1
test2
0      16  128
1       0   16
contingency table:
 test1   0    1
test2
0      22  127
1       0   11
contingency table:
 test1  0    1
test2
0      9  135
1      0   16
contingency table:
 test1   0    1
test2
0      11  137
1       0   12
contingency table:
 test1  0    1
test2
0      9  137
1      0   14
contingency table:
 test1   0    1
test2
0      10  132
1       0   18
contingency table:
 test1   0    1
test2
0      16  127
1       0   17
contingency table:
 test1   0    1
test2
0      18  123
1       0   19
contingency table:
 test1  0    1
test2
0      9  139
1      0   12
contingency table:
 test1   0    1
test2
0      18  121
1       0   21
contingency table:
 test1   0    1
test2
0      17  125
1       0   18
contingency table:
 test1  0    1
test2
0      9  134
1      0   17
contingency table:
 test1   0    1
test2
0      11  131
1       0   18
contingency table:
 test1   0    1
test2
0      19  119
1       0   22
contingency table:
 test1   0    1
test2
0      11  124
1       0   25
contingency table:
 test1   0    1
test2
0      19  125
1       0   16
contingency table:
 test1   0    1
test2
0      15  127
1       0   18
contingency table:
 test1   0    1
test2
0      14  129
1       0   17
contingency table:
 test1   0    1
test2
0      18  119
1       0   23
contingency table:
 test1   0    1
test2
0      22  126
1       0   12
contingency table:
 test1   0    1
test2
0      14  132
1       0   14
contingency table:
 test1  0    1
test2
0      8  131
1      0   21
contingency table:
 test1   0    1
test2
0      12  128
1       0   20
contingency table:
 test1   0    1
test2
0      13  130
1       0   17
contingency table:
 test1   0    1
test2
0      11  133
1       0   16
contingency table:
 test1   0    1
test2
0      13  132
1       0   15
contingency table:
 test1   0    1
test2
0      15  123
1       0   22

In [14]:
print(np.array(g2_stats))
print(np.mean(np.array(g2_stats),axis=0))
print(sp.stats.sem(np.array(g2_stats),axis=0))

[[0.1        0.875      0.2        0.68913858]
 [0.13125    0.8875     0.2        0.73500545]
 [0.10625    0.9375     0.1625     0.46706587]
 [0.0875     0.93125    0.1875     0.42217484]
 [0.1125     0.89375    0.1625     0.67529107]
 [0.08125    0.9        0.11875    0.54419411]
 [0.11875    0.9        0.1375     0.67360208]
 [0.1125     0.90625    0.10625    0.63623395]
 [0.1        0.93125    0.11875    0.47953216]
 [0.10625    0.925      0.1125     0.53778559]
 [0.1        0.925      0.11875    0.51376147]
 [0.10625    0.93125    0.15625    0.5046729 ]
 [0.08125    0.88125    0.15       0.60763359]
 [0.0625     0.88125    0.10625    0.51386322]
 [0.0625     0.93125    0.1375     0.26771654]
 [0.10625    0.9375     0.175      0.46706587]
 [0.11875    0.9625     0.10625    0.3033419 ]
 [0.075      0.91875    0.1875     0.42706131]
 [0.16875    0.90625    0.10625    0.75592173]
 [0.14375    0.89375    0.15       0.74443266]
 [0.075      0.93125    0.225      0.35294118]
 [0.15       0.90625    0.11875    0.72417707]
 [0.1        0.925      0.13125    0.51376147]
 [0.125      0.9125     0.13125    0.64909847]
 [0.08125    0.9        0.11875    0.54419411]
 [0.1        0.90625    0.1375     0.59594384]
 [0.11875    0.9        0.125      0.67360208]
 [0.0875     0.90625    0.19375    0.54733219]
 [0.08125    0.925      0.125      0.42706131]
 [0.0875     0.88125    0.175      0.63203463]
 [0.125      0.925      0.18125    0.59906396]
 [0.10625    0.90625    0.125      0.61698957]
 [0.1        0.91875    0.1375     0.54419411]
 [0.10625    0.9        0.18125    0.63829787]
 [0.075      0.9        0.1625     0.51376147]
 [0.1125     0.91875    0.14375    0.58823529]
 [0.1125     0.85625    0.08125    0.75834176]
 [0.10625    0.89375    0.1875     0.65764547]
 [0.11875    0.8875     0.2        0.70769231]
 [0.1        0.90625    0.1625     0.59594384]
 [0.1375     0.94375    0.10625    0.53500898]
 [0.10625    0.925      0.18125    0.53778559]
 [0.125      0.89375    0.16875    0.70630202]
 [0.06875    0.9125     0.16875    0.42217484]
 [0.1        0.89375    0.18125    0.63829787]
 [0.1        0.9125     0.2        0.57142857]
 [0.125      0.94375    0.15625    0.49520154]
 [0.13125    0.91875    0.1375     0.64214993]
 [0.125      0.95       0.14375    0.44906445]
 [0.0875     0.9125     0.18125    0.52079566]
 [0.0875     0.9625     0.13125    0.14589666]
 [0.10625    0.9375     0.0875     0.46706587]
 [0.125      0.93125    0.15       0.56905158]
 [0.1125     0.9125     0.16875    0.61353383]
 [0.0875     0.93125    0.16875    0.42217484]
 [0.09375    0.89375    0.175      0.61698957]
 [0.1125     0.9375     0.14375    0.49136276]
 [0.15       0.875      0.15       0.79214987]
 [0.125      0.9125     0.13125    0.64909847]
 [0.0875     0.925      0.15       0.45875252]
 [0.125      0.90625    0.11875    0.67017083]
 [0.1125     0.90625    0.15625    0.63623395]
 [0.05625    0.9125     0.15625    0.33414044]
 [0.05       0.89375    0.18125    0.37413395]
 [0.14375    0.91875    0.1875     0.67193676]
 [0.09375    0.88125    0.1375     0.65389877]
 [0.11875    0.9        0.15625    0.67360208]
 [0.1125     0.8875     0.1625     0.69221261]
 [0.1375     0.89375    0.11875    0.73267327]
 [0.11875    0.90625    0.1        0.65389877]
 [0.11875    0.9        0.09375    0.67360208]
 [0.09375    0.9        0.08125    0.59594384]
 [0.1        0.8875     0.15       0.65671642]
 [0.1        0.9        0.1875     0.61812779]
 [0.06875    0.8625     0.1        0.60465116]
 [0.1        0.94375    0.075      0.39643653]
 [0.075      0.93125    0.25       0.35294118]
 [0.0875     0.94375    0.1375     0.33414044]
 [0.1125     0.9375     0.18125    0.49136276]
 [0.10625    0.9        0.10625    0.63829787]
 [0.11875    0.8875     0.18125    0.70769231]
 [0.075      0.94375    0.11875    0.25994695]
 [0.13125    0.8875     0.1125     0.73500545]
 [0.1125     0.89375    0.16875    0.67529107]
 [0.10625    0.94375    0.1375     0.42398287]
 [0.1125     0.93125    0.1375     0.52782765]
 [0.1375     0.88125    0.19375    0.76028084]
 [0.15625    0.93125    0.15       0.64978903]
 [0.1        0.88125    0.1375     0.67360208]
 [0.1125     0.90625    0.1625     0.63623395]
 [0.10625    0.9125     0.09375    0.59340659]
 [0.14375    0.8875     0.15       0.75834176]
 [0.075      0.8625     0.10625    0.63280116]
 [0.0875     0.9125     0.16875    0.52079566]
 [0.13125    0.95       0.125      0.47082495]
 [0.125      0.925      0.20625    0.59906396]
 [0.10625    0.91875    0.175      0.56716418]
 [0.1        0.93125    0.11875    0.47953216]
 [0.09375    0.91875    0.14375    0.51905626]
 [0.1375     0.90625    0.13125    0.69914738]]
[0.1064375 0.911125  0.1478125 0.56935  ]
[0.00226387 0.00221476 0.0033936  0.01272852]

### Item - CR (Group3)

In [15]:
tag = "Item-CR"
df_simu_g3 = simu_success(tag, params)
df_simu_g3

CMR2 Time: 57.06072688102722

,session,list,test_itemno1,test_itemno2,s_resp,s_rt,csim,test,test_item1,test_item2,correct_ans,order,pair_idx,subject,group,corr_fin,omax_fin
0,0,0,319,-1,1.0,0.682557,0.425964,1,CLAW,NaN,1,0,23,0,3,-1.000000,-1.000000
1,0,0,1415,-1,0.0,3.943095,0.338270,1,SUSPECT,NaN,0,-1,-1,0,3,-1.000000,-1.000000
2,0,0,486,-1,0.0,1.696589,0.380438,1,DOOR,NaN,0,-1,-1,0,3,-1.000000,-1.000000
3,0,0,541,-1,0.0,10.771103,0.288025,1,EUROPE,NaN,1,0,28,0,3,-1.000000,-1.000000
4,0,0,48,-1,0.0,114.332039,0.169913,1,ASSISTANT,NaN,0,-1,-1,0,3,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,99,2,75,-1,842.0,1860.000000,0.592872,2,BALLOON,NaN,1284,0,123,99,3,-0.429716,-0.340385
35996,99,2,470,-1,224.0,1910.000000,0.640273,2,DIPLOMA,NaN,224,0,119,99,3,-0.332994,-0.362632
35997,99,2,143,-1,301.0,2090.000000,0.546108,2,BOARD,NaN,1526,1,126,99,3,-3.313138,-0.392735
35998,99,2,478,-1,592.0,1950.000000,0.544814,2,DOCTOR,NaN,350,0,102,99,3,-0.557575,-0.371547
35999,99,2,440,-1,1478.0,1830.000000,0.638274,2,DART,NaN,1478,0,97,99,3,-0.292393,-0.373463

In [16]:
subjects = np.unique(df_simu_g3.subject)
g3_stats = []
for subj in subjects:
    df_subj = df_simu_g3.query(f"subject == {subj}").copy()
    g3_stats.append(list(anal_perform(df_subj)))

contingency table:
 test1   0   1
test2
0      17  81
1       0  22
contingency table:
 test1   0   1
test2
0      28  66
1       0  26
contingency table:
 test1   0   1
test2
0      20  74
1       0  26
contingency table:
 test1   0   1
test2
0      38  62
1       0  20
contingency table:
 test1   0   1
test2
0      25  78
1       1  16
contingency table:
 test1   0   1
test2
0      29  66
1       0  25
contingency table:
 test1   0   1
test2
0      28  72
1       1  19
contingency table:
 test1   0   1
test2
0      24  66
1       2  28
contingency table:
 test1   0   1
test2
0      27  64
1       1  28
contingency table:
 test1   0   1
test2
0      34  60
1       0  26
contingency table:
 test1   0   1
test2
0      28  65
1       0  27
contingency table:
 test1   0   1
test2
0      23  82
1       0  15
contingency table:
 test1   0   1
test2
0      38  60
1       1  21
contingency table:
 test1   0   1
test2
0      23  70
1       3  24
contingency table:
 test1   0   1
test2
0      36  71
1       0  13
contingency table:
 test1   0   1
test2
0      23  74
1       1  22
contingency table:
 test1   0   1
test2
0      18  81
1       1  20
contingency table:
 test1   0   1
test2
0      28  68
1       0  24
contingency table:
 test1   0   1
test2
0      34  55
1       0  31
contingency table:
 test1   0   1
test2
0      28  65
1       1  26
contingency table:
 test1   0   1
test2
0      24  78
1       0  18
contingency table:
 test1   0   1
test2
0      28  72
1       1  19
contingency table:
 test1   0   1
test2
0      30  69
1       0  21
contingency table:
 test1   0   1
test2
0      27  68
1       1  24
contingency table:
 test1   0   1
test2
0      30  71
1       0  19
contingency table:
 test1   0   1
test2
0      28  67
1       0  25
contingency table:
 test1   0   1
test2
0      32  64
1       0  24
contingency table:
 test1   0   1
test2
0      28  66
1       2  24
contingency table:
 test1   0   1
test2
0      31  69
1       0  20
contingency table:
 test1   0   1
test2
0      26  68
1       0  26
contingency table:
 test1   0   1
test2
0      21  76
1       0  23
contingency table:
 test1   0   1
test2
0      25  70
1       0  25
contingency table:
 test1   0   1
test2
0      25  65
1       1  29
contingency table:
 test1   0   1
test2
0      32  66
1       0  22
contingency table:
 test1   0   1
test2
0      25  68
1       0  27
contingency table:
 test1   0   1
test2
0      35  60
1       1  24
contingency table:
 test1   0   1
test2
0      35  61
1       0  24
contingency table:
 test1   0   1
test2
0      25  72
1       1  22
contingency table:
 test1   0   1
test2
0      27  69
1       0  24
contingency table:
 test1   0   1
test2
0      25  74
1       0  21
contingency table:
 test1   0   1
test2
0      20  79
1       0  21
contingency table:
 test1   0   1
test2
0      31  74
1       0  15
contingency table:
 test1   0   1
test2
0      24  70
1       0  26
contingency table:
 test1   0   1
test2
0      29  65
1       0  26
contingency table:
 test1   0   1
test2
0      21  75
1       1  23
contingency table:
 test1   0   1
test2
0      32  69
1       0  19
contingency table:
 test1   0   1
test2
0      27  71
1       1  21
contingency table:
 test1   0   1
test2
0      31  54
1       0  35
contingency table:
 test1   0   1
test2
0      18  87
1       0  15
contingency table:
 test1   0   1
test2
0      29  71
1       0  20
contingency table:
 test1   0   1
test2
0      30  67
1       0  23
contingency table:
 test1   0   1
test2
0      24  67
1       0  29
contingency table:
 test1   0   1
test2
0      27  67
1       1  25
contingency table:
 test1   0   1
test2
0      23  65
1       0  32
contingency table:
 test1   0   1
test2
0      29  56
1       2  33
contingency table:
 test1   0   1
test2
0      32  65
1       1  22
contingency table:
 test1   0   1
test2
0      24  77
1       1  18
contingency table:
 test1   0   1
test2
0      22  81
1       0  17
contingency table:
 test1   0   1
test2
0      32  63
1       0  25
contingency table:
 test1   0   1
test2
0      29  73
1       0  18
contingency table:
 test1   0   1
test2
0      27  70
1       0  23
contingency table:
 test1   0   1
test2
0      23  75
1       0  22
contingency table:
 test1   0   1
test2
0      33  61
1       0  26
contingency table:
 test1   0   1
test2
0      27  72
1       1  20
contingency table:
 test1   0   1
test2
0      23  71
1       2  24
contingency table:
 test1   0   1
test2
0      29  69
1       0  22
contingency table:
 test1   0   1
test2
0      32  68
1       0  20
contingency table:
 test1   0   1
test2
0      25  77
1       0  18
contingency table:
 test1   0   1
test2
0      22  73
1       0  25
contingency table:
 test1   0   1
test2
0      31  66
1       1  22
contingency table:
 test1   0   1
test2
0      21  79
1       0  20
contingency table:
 test1   0   1
test2
0      27  75
1       0  18
contingency table:
 test1   0   1
test2
0      33  71
1       0  16
contingency table:
 test1   0   1
test2
0      30  68
1       0  22
contingency table:
 test1   0   1
test2
0      23  70
1       1  26
contingency table:
 test1   0   1
test2
0      19  80
1       1  20
contingency table:
 test1   0   1
test2
0      27  62
1       0  31
contingency table:
 test1   0   1
test2
0      27  73
1       0  20
contingency table:
 test1   0   1
test2
0      24  74
1       0  22
contingency table:
 test1   0   1
test2
0      29  69
1       1  21
contingency table:
 test1   0   1
test2
0      31  66
1       1  22
contingency table:
 test1   0   1
test2
0      29  63
1       0  28
contingency table:
 test1   0   1
test2
0      28  74
1       1  17
contingency table:
 test1   0   1
test2
0      25  78
1       0  17
contingency table:
 test1   0   1
test2
0      30  64
1       0  26
contingency table:
 test1   0   1
test2
0      16  85
1       0  19
contingency table:
 test1   0   1
test2
0      25  70
1       0  25
contingency table:
 test1   0   1
test2
0      27  67
1       0  26
contingency table:
 test1   0   1
test2
0      23  78
1       0  19
contingency table:
 test1   0   1
test2
0      33  67
1       0  20
contingency table:
 test1   0   1
test2
0      29  66
1       0  25
contingency table:
 test1   0   1
test2
0      32  74
1       0  14
contingency table:
 test1   0   1
test2
0      25  78
1       0  17
contingency table:
 test1   0   1
test2
0      35  66
1       1  18
contingency table:
 test1   0   1
test2
0      21  76
1       0  23
contingency table:
 test1   0   1
test2
0      32  65
1       0  23
contingency table:
 test1   0   1
test2
0      18  81
1       0  21
contingency table:
 test1   0   1
test2
0      19  75
1       0  26
contingency table:
 test1   0   1
test2
0      26  69
1       0  25
contingency table:
 test1   0   1
test2
0      26  65
1       1  28

In [17]:
print(np.array(g3_stats))
print(np.mean(np.array(g3_stats),axis=0))
print(sp.stats.sem(np.array(g3_stats),axis=0))

[[0.18333333 0.85833333 0.34166667 0.81242808]
 [0.21666667 0.76666667 0.33333333 0.91566265]
 [0.21666667 0.83333333 0.29166667 0.87166236]
 [0.16666667 0.68333333 0.325      0.92382693]
 [0.14166667 0.78333333 0.28333333 0.56267409]
 [0.20833333 0.75833333 0.3        0.91534055]
 [0.16666667 0.75833333 0.34166667 0.67268623]
 [0.25       0.78333333 0.21666667 0.61538462]
 [0.24166667 0.76666667 0.375      0.7802385 ]
 [0.21666667 0.71666667 0.24166667 0.93594494]
 [0.225      0.76666667 0.35833333 0.91977955]
 [0.125      0.80833333 0.33333333 0.79654747]
 [0.18333333 0.675      0.28333333 0.80239521]
 [0.225      0.78333333 0.3        0.4       ]
 [0.10833333 0.7        0.28333333 0.86471145]
 [0.19166667 0.8        0.3        0.65105386]
 [0.175      0.84166667 0.34166667 0.51246261]
 [0.2        0.76666667 0.34166667 0.90648464]
 [0.25833333 0.71666667 0.25       0.95020188]
 [0.225      0.75833333 0.325      0.76977153]
 [0.15       0.8        0.31666667 0.84060914]
 [0.16666667 0.75833333 0.26666667 0.67268623]
 [0.175      0.75       0.3        0.8993483 ]
 [0.20833333 0.76666667 0.35       0.73535093]
 [0.15833333 0.75       0.30833333 0.88659794]
 [0.20833333 0.76666667 0.30833333 0.9112426 ]
 [0.2        0.73333333 0.28333333 0.92214846]
 [0.21666667 0.75       0.19166667 0.61538462]
 [0.16666667 0.74166667 0.4        0.89786921]
 [0.21666667 0.78333333 0.28333333 0.90699253]
 [0.19166667 0.825      0.33333333 0.85924563]
 [0.20833333 0.79166667 0.325      0.89715536]
 [0.25       0.78333333 0.2        0.76895944]
 [0.18333333 0.73333333 0.20833333 0.91301504]
 [0.225      0.79166667 0.25833333 0.90686608]
 [0.20833333 0.7        0.20833333 0.81103592]
 [0.2        0.70833333 0.25833333 0.93170461]
 [0.19166667 0.78333333 0.30833333 0.68131868]
 [0.2        0.775      0.31666667 0.90190543]
 [0.175      0.79166667 0.30833333 0.87275833]
 [0.175      0.83333333 0.31666667 0.83454735]
 [0.125      0.74166667 0.3        0.85823026]
 [0.21666667 0.8        0.34166667 0.89700511]
 [0.21666667 0.75833333 0.29166667 0.91958257]
 [0.2        0.81666667 0.425      0.63379143]
 [0.15833333 0.73333333 0.23333333 0.8960359 ]
 [0.18333333 0.76666667 0.325      0.69291339]
 [0.29166667 0.74166667 0.28333333 0.95242252]
 [0.125      0.85       0.325      0.73524962]
 [0.16666667 0.75833333 0.425      0.88836846]
 [0.19166667 0.75       0.25833333 0.91005996]
 [0.24166667 0.8        0.40833333 0.9107733 ]
 [0.21666667 0.76666667 0.30833333 0.74766355]
 [0.26666667 0.80833333 0.24166667 0.91776522]
 [0.29166667 0.74166667 0.24166667 0.74988933]
 [0.19166667 0.725      0.28333333 0.76311031]
 [0.15833333 0.79166667 0.30833333 0.59174715]
 [0.14166667 0.81666667 0.28333333 0.81242808]
 [0.20833333 0.73333333 0.28333333 0.92620569]
 [0.15       0.75833333 0.36666667 0.87381974]
 [0.19166667 0.775      0.35       0.89655172]
 [0.18333333 0.80833333 0.3        0.86672551]
 [0.21666667 0.725      0.33333333 0.933043  ]
 [0.175      0.76666667 0.26666667 0.67657993]
 [0.21666667 0.79166667 0.3        0.52617628]
 [0.18333333 0.75833333 0.26666667 0.90050107]
 [0.16666667 0.73333333 0.35       0.90221271]
 [0.15       0.79166667 0.375      0.84818805]
 [0.20833333 0.81666667 0.30833333 0.87960688]
 [0.19166667 0.73333333 0.26666667 0.75324675]
 [0.16666667 0.825      0.39166667 0.83454735]
 [0.15       0.775      0.21666667 0.86184812]
 [0.13333333 0.725      0.29166667 0.87850467]
 [0.18333333 0.75       0.31666667 0.90492713]
 [0.225      0.8        0.275      0.70967742]
 [0.175      0.83333333 0.31666667 0.53602305]
 [0.25833333 0.775      0.24166667 0.93036212]
 [0.16666667 0.775      0.38333333 0.877602  ]
 [0.18333333 0.8        0.34166667 0.87340697]
 [0.18333333 0.75       0.36666667 0.71767095]
 [0.19166667 0.73333333 0.19166667 0.75324675]
 [0.23333333 0.75833333 0.29166667 0.92722063]
 [0.15       0.75833333 0.325      0.63390663]
 [0.14166667 0.79166667 0.325      0.83831102]
 [0.21666667 0.75       0.34166667 0.92325996]
 [0.15833333 0.86666667 0.29166667 0.7654321 ]
 [0.20833333 0.79166667 0.275      0.89715536]
 [0.21666667 0.775      0.34166667 0.91147541]
 [0.15833333 0.80833333 0.31666667 0.84221106]
 [0.16666667 0.725      0.29166667 0.90631506]
 [0.20833333 0.75833333 0.325      0.91534055]
 [0.11666667 0.73333333 0.4        0.85349066]
 [0.14166667 0.79166667 0.325      0.83831102]
 [0.15833333 0.7        0.34166667 0.73628553]
 [0.19166667 0.825      0.29166667 0.85924563]
 [0.19166667 0.73333333 0.28333333 0.91776522]
 [0.175      0.85       0.26666667 0.81413911]
 [0.21666667 0.84166667 0.35833333 0.8638413 ]
 [0.20833333 0.78333333 0.34166667 0.90218156]
 [0.24166667 0.775      0.19166667 0.76977153]]
[0.19141667 0.77158333 0.30525    0.82099368]
[0.00362653 0.00393211 0.00503865 0.01153591]

In [18]:
stats = []
stats.append(list(np.mean(np.array(g1_stats),axis=0)))
stats.append(list(np.mean(np.array(g2_stats),axis=0)))
stats.append(list(np.mean(np.array(g3_stats),axis=0)))
stats = np.array(stats)
stats

array([[0.125     , 0.792     , 0.2728    , 0.72914212],
       [0.1064375 , 0.911125  , 0.1478125 , 0.56935   ],
       [0.19141667, 0.77158333, 0.30525   , 0.82099368]])

In [19]:
ground_truth = np.array([[0.42, 0.72, 0.22, 0.81], [0.30, 0.80, 0.12, 0.71], [0.19, 0.67, 0.15, 0.57]])  # p_rc, hr, far, q
err = np.mean(np.power(stats - ground_truth,2))
err

0.02244396444094571