In [1]:
import scipy.io
import numpy as np
import CMR_IA as cmr
import matplotlib.pyplot as plt
import pickle
from statistics import mean, stdev
import pprint
# import import_ipynb
import time
import pandas as pd
import seaborn as sns

np.set_printoptions(edgeitems=20, linewidth=150,precision=4)

In [38]:
with open("../Data/simu6c_design.pkl", 'rb') as inp:
    df_study = pickle.load(inp)
    df_test = pickle.load(inp)

In [39]:
s_mat = np.load('../Data/wordpools/ltp_FR_similarity_matrix.npy')

In [40]:
params = cmr.make_default_params()
params.update(
    beta_enc = 0.5,
    beta_rec = 0.5,
    beta_rec_post = 0.1,
    gamma_fc = 0.5,
    gamma_cf = 0.5,
    s_fc = 0.1,
    s_cf = 0.1,
    c_thresh = 0.01,
    c_thresh_ass = 0.01,
    a = 2800,
    b = 2.14,
    m = 0,
    n = 1,
    kappa = 0.02,
    lamb = 0.01,
    eta = 0,
    phi_s = 1,
    phi_d = 0.6,
    nitems_in_accumulator = 10,
    d_ass = 1,
    learn_while_retrieving = True
)
params

{'beta_enc': 0.5,
 'beta_rec': 0.5,
 'beta_rec_new': 0.5,
 'beta_rec_post': 0.1,
 'beta_distract': None,
 'phi_s': 1,
 'phi_d': 0.6,
 's_cf': 0.1,
 's_fc': 0.1,
 'kappa': 0.02,
 'eta': 0,
 'omega': 8,
 'alpha': 4,
 'c_thresh': 0.01,
 'c_thresh_ass': 0.01,
 'd_ass': 1,
 'lamb': 0.01,
 'rec_time_limit': 60000.0,
 'dt': 10,
 'nitems_in_accumulator': 10,
 'max_recalls': 50,
 'learn_while_retrieving': True,
 'a': 2800,
 'b': 2.14,
 'm': 0,
 'n': 1,
 'c1': 0,
 'gamma_fc': 0.5,
 'gamma_cf': 0.5}

In [41]:
df_study = df_study.loc[df_study.session == 0]
# df_study['study_itemno1'] = [1,3,5,7,9,11,13,15,17,19,21,23]
# df_study['study_itemno2'] = [2,4,6,8,10,12,14,16,18,20,22,24]
df_study

    study_itemno1  study_itemno2 study_item1 study_item2  session
0             140            838   BLUEBERRY        LOCK        0
1            1587           1240    WARDROBE   SAXOPHONE        0
2            1132            702      PROTON      HELMET        0
3             299           1282       CHILD     SHELTER        0
4            1391           1059  STRAWBERRY      PICKLE        0
5             153            736      BOTTLE      INDIAN        0
6             145           1198        BODY        ROBE        0
7             819           1251     LIGHTER      SCOTCH        0
8             711           1519         HOE      TUNNEL        0
9             607            856       FRIES        MAID        0
10            210            327     CABBAGE     CLOTHES        0
11           1169           1372         RAT     STAPLER        0

In [42]:
df_test = df_test.loc[df_test.session == 0]
# df_test['test_itemno'] = [1]
# df_test['correct_ans'] = [2]
df_test

,test_itemno,test_item,correct_ans,order,rep,test,session,test_pos,pair_idx
0,210,CABBAGE,327,1,1,1,0,1,11
1,1251,SCOTCH,819,2,1,1,0,2,8
2,145,BODY,1198,1,1,1,0,3,7
3,1059,PICKLE,1391,2,1,1,0,4,5
4,711,HOE,1519,1,1,1,0,5,9
5,838,LOCK,140,2,1,1,0,6,1
6,153,BOTTLE,736,1,1,1,0,7,6
7,1587,WARDROBE,1240,1,1,1,0,8,2
8,856,MAID,607,2,1,1,0,9,10
9,702,HELMET,1132,2,1,1,0,10,3
10,299,CHILD,1282,1,1,1,0,11,4
11,1372,STAPLER,1169,2,1,1,0,12,12
12,140,BLUEBERRY,838,1,1,2,0,13,1
13,145,BODY,1198,1,1,2,0,14,7
14,1169,RAT,1372,1,1,2,0,15,12
15,299,CHILD,1282,1,1,2,0,16,4
16,1059,PICKLE,1391,2,1,2,0,17,5
17,1519,TUNNEL,711,2,1,2,0,18,9
18,210,CABBAGE,327,1,1,2,0,19,11
19,1132,PROTON,702,1,1,2,0,20,3
20,1240,SAXOPHONE,1587,2,1,2,0,21,2
21,1251,SCOTCH,819,2,1,2,0,22,8
22,856,MAID,607,2,1,2,0,23,10
23,736,INDIAN,153,2,1,2,0,24,6

In [43]:
df_thin = df_test[['session','test_itemno']]
df_thin = df_thin.assign(s_resp=np.nan, s_rt=np.nan)
df_thin

    session  test_itemno  s_resp  s_rt
0         0          210     NaN   NaN
1         0         1251     NaN   NaN
2         0          145     NaN   NaN
3         0         1059     NaN   NaN
4         0          711     NaN   NaN
5         0          838     NaN   NaN
6         0          153     NaN   NaN
7         0         1587     NaN   NaN
8         0          856     NaN   NaN
9         0          702     NaN   NaN
10        0          299     NaN   NaN
11        0         1372     NaN   NaN
12        0          140     NaN   NaN
13        0          145     NaN   NaN
14        0         1169     NaN   NaN
15        0          299     NaN   NaN
16        0         1059     NaN   NaN
17        0         1519     NaN   NaN
18        0          210     NaN   NaN
19        0         1132     NaN   NaN
20        0         1240     NaN   NaN
21        0         1251     NaN   NaN
22        0          856     NaN   NaN
23        0          736     NaN   NaN

In [44]:
# extarct the session data
sess = 0
pres_mat = df_study.loc[df_study.session==sess,['study_itemno1','study_itemno2']].to_numpy()
pres_mat = np.reshape(pres_mat,(1,len(pres_mat),2))
pres_mat

array([[[ 140,  838],
        [1587, 1240],
        [1132,  702],
        [ 299, 1282],
        [1391, 1059],
        [ 153,  736],
        [ 145, 1198],
        [ 819, 1251],
        [ 711, 1519],
        [ 607,  856],
        [ 210,  327],
        [1169, 1372]]], dtype=int64)

In [45]:
cue_mat = df_thin.loc[df_thin.session==sess,'test_itemno'].to_numpy()
cue_mat

array([ 210, 1251,  145, 1059,  711,  838,  153, 1587,  856,  702,  299, 1372,  140,  145, 1169,  299, 1059, 1519,  210, 1132, 1240, 1251,  856,
        736], dtype=int64)

In [46]:
sem_mat = s_mat

In [47]:
model = cmr.CMR2(params, pres_mat, sem_mat, source_mat=None,
           rec_mat=None, ffr_mat=None, cue_mat=cue_mat, task='CR', mode='Final')

In [52]:
model.pres_nos

array([[[ 140,  838],
        [1587, 1240],
        [1132,  702],
        [ 299, 1282],
        [1391, 1059],
        [ 153,  736],
        [ 145, 1198],
        [ 819, 1251],
        [ 711, 1519],
        [ 607,  856],
        [ 210,  327],
        [1169, 1372]]], dtype=int16)

In [53]:
model.cues_nos

array([ 210, 1251,  145, 1059,  711,  838,  153, 1587,  856,  702,  299, 1372,  140,  145, 1169,  299, 1059, 1519,  210, 1132, 1240, 1251,  856,
        736], dtype=int16)

In [54]:
model.all_nos_unique

array([ 140,  145,  153,  210,  299,  327,  607,  702,  711,  736,  819,  838,  856, 1059, 1132, 1169, 1198, 1240, 1251, 1282, 1372, 1391, 1519,
       1587], dtype=int16)

In [55]:
model.pres_indexes

array([[[ 0, 11],
        [23, 17],
        [14,  7],
        [ 4, 19],
        [21, 13],
        [ 2,  9],
        [ 1, 16],
        [10, 18],
        [ 8, 22],
        [ 6, 12],
        [ 3,  5],
        [15, 20]]], dtype=int64)

In [56]:
model.cues_indexes

array([ 3, 18,  1, 13,  8, 11,  2, 23, 12,  7,  4, 20,  0,  1, 15,  4, 13, 22,  3, 14, 17, 18, 12,  9], dtype=int64)

In [57]:
model.nlists

1

In [49]:
model.run_norm_cr_single_sess()

# in model:
# print(self.att_vec[self.all_nos_unique[item_idx]-1])
# print(np.dot(self.c_old[:self.nitems_unique], self.f[:self.nitems_unique].T))

In [50]:
model.ret_thresh

array([1.3422e+08, 3.3554e+07, 1.0000e+00, 3.2769e+04, 2.0972e+06, 2.0972e+06, 1.0000e+00, 1.0000e+00, 2.0490e+03, 3.3000e+01, 1.0000e+00,
       1.0000e+00, 1.2900e+02, 5.2429e+05, 8.1930e+03, 8.3886e+06, 8.3886e+06, 2.0490e+03, 5.1300e+02, 1.0000e+00, 1.0000e+00, 1.3107e+05,
       1.3107e+05, 9.0000e+00], dtype=float32)

In [58]:
model.rec_items

[327,
 819,
 1198,
 1391,
 1519,
 -1,
 -1,
 1240,
 -1,
 -1,
 -1,
 -1,
 1240,
 1198,
 327,
 210,
 1391,
 711,
 711,
 711,
 1587,
 1587,
 1587,
 1587]

In [59]:
model.rec_times

[1210,
 1520,
 1420,
 1530,
 1590,
 -1,
 -1,
 1610,
 -1,
 -1,
 -1,
 -1,
 1000,
 750,
 990,
 810,
 730,
 730,
 4490,
 3230,
 790,
 4450,
 3180,
 2580]

In [60]:
model.f_in

array([1.2319, 1.3632, 0.7212, 1.6321, 0.8016, 1.1183, 0.5213, 0.4077, 2.2097, 0.7016, 1.0256, 0.3108, 1.2987, 1.5312, 0.8191, 0.7453, 1.351 ,
       2.7616, 1.7708, 0.4245, 0.3696, 1.5284, 1.3671, 3.7656], dtype=float32)

In [61]:
model.M_FC

array([[ 7.1419e-01,  2.8536e-01,  1.2410e-01,  2.4821e-01,  2.1202e-01,  1.7180e-01,  7.7301e-02,  1.5919e-01,  3.3399e-01,  2.2769e-01,
         1.4076e-01,  4.9955e-01,  1.7121e-01,  3.0412e-01,  2.2506e-01,  1.3408e-01,  2.8383e-01,  1.2121e+00,  2.6876e-01,  1.3433e-01,
         5.5622e-02,  3.2252e-01,  2.0202e-01,  8.3440e-01,  0.0000e+00,  0.0000e+00],
       [ 3.2083e-02,  1.0405e+00,  1.9876e-02,  3.6197e-01,  1.1931e-01,  3.4960e-01,  1.3376e-01,  1.6927e-02,  5.0133e-01,  4.6452e-02,
         3.0387e-01,  2.2902e-03,  1.8724e-01,  1.7830e-01,  8.2914e-02,  2.5126e-01,  2.0506e+00,  1.0199e-01,  3.4533e-01,  1.3650e-02,
         9.6580e-02,  1.8219e-01,  3.5277e-01,  2.0736e-01,  0.0000e+00,  0.0000e+00],
       [ 5.6503e-02,  4.1892e-01,  5.2231e-01,  3.2093e-01,  8.9553e-02,  2.7243e-01,  1.3500e-01,  2.3410e-02,  4.4255e-01,  6.4823e-01,
         2.7911e-01,  5.2428e-03,  1.9184e-01,  1.3125e-01,  7.6470e-02,  1.7887e-01,  4.2212e-01,  1.8659e-01,  3.5013e-01,  2.0062e-02,
         1.0566e-01,  1.3235e-01,  3.1221e-01,  3.8158e-01,  0.0000e+00,  0.0000e+00],
       [ 6.6559e-02,  1.1993e-01,  3.4067e-02,  1.1007e+00,  7.3400e-01,  1.5422e+00,  4.6000e-02,  1.3342e-02,  8.0047e-01,  5.8630e-02,
         1.3871e-01,  1.1050e-03,  6.1222e-02,  1.6639e-01,  1.1097e-01,  4.4542e-01,  1.2109e-01,  1.2007e-01,  1.8112e-01,  1.4651e-02,
         2.0424e-01,  1.7231e-01,  1.0217e-01,  1.7366e-01,  0.0000e+00,  0.0000e+00],
       [ 8.0360e-02,  3.0851e-01,  1.6539e-01,  8.5970e-01,  6.4514e-01,  1.9085e-01,  8.1164e-02,  1.6976e-02,  4.3639e-01,  2.1013e-01,
         1.8178e-01,  1.9194e-03,  1.3422e-01,  4.2402e-01,  8.1107e-02,  1.3214e-01,  3.0013e-01,  1.6851e-01,  2.2512e-01,  5.2131e-01,
         6.6653e-02,  4.2936e-01,  2.6254e-01,  2.2958e-01,  0.0000e+00,  0.0000e+00],
       [ 3.9291e-02,  1.3191e-01,  3.3228e-02,  1.6891e+00,  2.8603e-01,  9.6067e-01,  3.6145e-02,  2.7496e-02,  3.2268e-01,  5.1054e-02,
         1.5328e-01,  2.9016e-03,  7.3837e-02,  1.7082e-01,  8.5597e-02,  8.6903e-01,  1.4105e-01,  1.0969e-01,  1.8700e-01,  2.9977e-02,
         2.0624e-01,  1.7206e-01,  1.1776e-01,  1.8732e-01,  0.0000e+00,  0.0000e+00],
       [ 6.5780e-02,  8.9305e-02,  3.0967e-02,  4.6341e-01,  9.9222e-02,  4.0972e-01,  5.2118e-01,  1.0772e-02,  1.4620e-01,  7.5089e-02,
         8.2501e-02,  5.5728e-03,  6.1872e-01,  9.8774e-02,  3.8435e-02,  2.5586e-01,  9.1985e-02,  1.0091e-01,  1.1091e-01,  1.1450e-02,
         1.6620e-01,  9.2741e-02,  6.9920e-02,  2.0831e-01,  0.0000e+00,  0.0000e+00],
       [ 7.8723e-02,  2.7823e-01,  1.4820e-01,  2.3742e-01,  2.6698e-01,  1.7362e-01,  7.6758e-02,  5.0830e-01,  4.3570e-01,  1.8911e-01,
         1.7273e-01,  5.2629e-03,  1.2082e-01,  3.5101e-01,  6.4972e-01,  1.1278e-01,  2.8135e-01,  1.9113e-01,  2.1753e-01,  1.8437e-01,
         6.5594e-02,  3.5253e-01,  2.4484e-01,  2.7633e-01,  0.0000e+00,  0.0000e+00],
       [ 5.2355e-02,  7.3746e-02,  2.0410e-02,  1.0376e+00,  8.0499e-02,  3.3993e-01,  1.9482e-01,  1.3027e-02,  1.3475e+00,  6.9031e-02,
         6.5024e-02,  5.9364e-03,  2.6575e-01,  7.6813e-02,  6.8445e-01,  2.0876e-01,  7.9705e-02,  1.9924e-01,  1.1859e-01,  1.2286e-02,
         1.3686e-01,  7.4944e-02,  1.9811e+00,  3.2429e-01,  0.0000e+00,  0.0000e+00],
       [ 3.7851e-02,  3.7295e-01,  5.0946e-01,  2.5783e-01,  5.6329e-02,  2.1521e-01,  1.0987e-01,  3.5447e-03,  3.6585e-01,  6.1841e-01,
         2.3561e-01, -9.1889e-04,  1.6014e-01,  8.3551e-02,  5.5489e-02,  1.4799e-01,  3.7715e-01,  1.4554e-01,  2.8969e-01,  3.9308e-03,
         6.9367e-02,  8.1967e-02,  2.5317e-01,  8.2009e-01,  0.0000e+00,  0.0000e+00],
       [ 3.4931e-02,  1.4580e-01,  1.8125e-02,  3.4518e-01,  6.7719e-02,  2.7805e-01,  1.6102e-01,  1.3599e-02,  5.1320e-01,  6.0633e-02,
         7.6617e-01,  3.5797e-03,  2.4325e-01,  8.2396e-02,  7.9966e-02,  1.6749e-01,  1.4424e-01,  9.8343e-02,  1.4000e+00,  1.1863e-02,
         1.0988e-01,  7.9684e-02,  3.6792e-01,  3.4063e-01,  0.0000e+00,  0.0000e+00],
       [ 7.0846e-01,  2.4632e-01,  1.0084e-01,  1.7437e-01,  1.9411e-01,  1.3841e-01,  5.5588e-02,  1.5790e-01,  2.6797e-01,  1.8789e-01,
         1.1273e-01,  5.0000e-01,  1.4298e-01,  2.5657e-01,  2.1146e-01,  1.0435e-01,  2.4915e-01,  6.5591e-01,  2.1106e-01,  1.3607e-01,
         4.2644e-02,  2.4858e-01,  1.6161e-01,  7.3348e-01,  0.0000e+00,  0.0000e+00],
       [ 4.7324e-02,  8.5469e-02,  2.2326e-02,  4.4093e-01,  1.0512e-01,  4.1125e-01,  5.2238e-01,  6.0559e-03,  1.3273e-01,  1.0362e-01,
         7.2730e-02,  2.0205e-03,  6.1008e-01,  7.7656e-02,  2.9193e-02,  2.5427e-01,  9.2742e-02,  8.4339e-02,  9.9870e-02,  1.3526e-02,
         1.6064e-01,  7.6101e-02,  6.0038e-02,  7.3218e-01,  0.0000e+00,  0.0000e+00],
       [ 5.8382e-02,  3.2613e-01,  1.9561e-01,  3.3489e-01,  6.6882e-02,  2.1910e-01,  1.1914e-01,  1.5317e-02,  6.4554e-01,  2.5527e-01,
         2.1308e-01,  7.7388e-03,  1.5533e-01,  1.0587e+00,  1.0289e-01,  1.5545e-01,  3.3236e-01,  1.6976e-01,  2.7538e-01,  1.5310e-02,
         8.4036e-02,  2.0797e+00,  4.3194e-01,  3.0053e-01,  0.0000e+00,  0.0000e+00],
       [ 6.6286e-02,  2.4125e-01,  1.3017e-01,  1.9747e-01,  2.4273e-01,  1.2418e-01,  6.3379e-02,  5.0590e-01,  8.8131e-01,  1.7418e-01,
         1.4419e-01, -1.0824e-03,  9.7085e-02,  3.1981e-01,  6.2850e-01,  9.1315e-02,  2.3464e-01,  1.6040e-01,  1.8457e-01,  1.7994e-01,
         4.7207e-02,  3.2162e-01,  2.0919e-01,  2.1926e-01,  0.0000e+00,  0.0000e+00],
       [ 8.0650e-02,  8.1240e-02,  2.0920e-02,  1.8816e-01,  8.2442e-02,  7.1406e-01,  2.6847e-02,  7.7544e-03,  1.0070e-01,  3.4760e-02,
         5.1656e-02,  4.7339e-03,  4.3907e-02,  7.1139e-02,  2.9132e-02,  6.4212e-01,  8.2638e-02,  1.0578e-01,  6.9359e-02,  1.2410e-02,
         5.2980e-01,  6.5879e-02,  6.4260e-02,  7.1697e-02,  0.0000e+00,  0.0000e+00],
       [ 3.4544e-02,  2.0288e+00,  2.5460e-02,  3.8179e-01,  1.1338e-01,  3.6851e-01,  1.4168e-01,  2.5593e-02,  5.2331e-01,  5.8435e-02,
         3.1080e-01,  5.1255e-03,  2.0562e-01,  1.8747e-01,  8.4631e-02,  2.5572e-01,  1.0188e+00,  1.2030e-01,  3.6189e-01,  1.7862e-02,
         1.1062e-01,  1.8525e-01,  3.6305e-01,  2.4417e-01,  0.0000e+00,  0.0000e+00],
       [ 6.9348e-01,  2.7439e-01,  1.1860e-01,  2.1992e-01,  2.3307e-01,  1.7184e-01,  6.8933e-02,  1.8318e-01,  3.2779e-01,  4.5125e-01,
         1.3754e-01,  1.0015e-03,  4.0905e-01,  3.0246e-01,  2.5486e-01,  1.2037e-01,  2.7860e-01,  1.2699e+00,  4.8011e-01,  1.5458e-01,
         5.0882e-02,  3.0500e-01,  1.9685e-01,  3.1023e+00,  0.0000e+00,  0.0000e+00],
       [ 4.4227e-02,  1.6042e-01,  3.6419e-02,  3.6639e-01,  7.0134e-02,  2.8923e-01,  1.7103e-01,  7.5058e-03,  5.2658e-01,  1.1938e-01,
         1.2836e+00,  2.7866e-03,  2.8013e-01,  9.9786e-02,  7.9913e-02,  1.8121e-01,  1.6363e-01,  1.1481e-01,  8.6638e-01,  1.0916e-02,
         1.1074e-01,  9.7995e-02,  3.7275e-01,  8.8350e-01,  0.0000e+00,  0.0000e+00],
       [ 7.1053e-02,  2.8054e-01,  1.5658e-01,  3.1398e-01,  6.4888e-01,  1.8282e-01,  7.8590e-02,  5.3281e-03,  3.8013e-01,  2.0000e-01,
         1.7079e-01,  4.6998e-03,  1.2181e-01,  4.1356e-01,  6.2389e-02,  1.2099e-01,  2.8125e-01,  1.4469e-01,  2.0926e-01,  5.0498e-01,
         5.7392e-02,  4.1149e-01,  2.5946e-01,  2.0506e-01,  0.0000e+00,  0.0000e+00],
       [ 7.6947e-02,  8.4921e-02,  3.1194e-02,  1.7957e-01,  8.6557e-02,  2.1260e-01,  2.5430e-02,  2.0087e-02,  1.0474e-01,  2.4580e-02,
         6.1225e-02,  7.9656e-03,  3.8238e-02,  7.1642e-02,  3.3780e-02,  6.4795e-01,  8.9437e-02,  1.0971e-01,  7.1907e-02,  1.4343e-02,
         5.1941e-01,  6.7999e-02,  5.6542e-02,  8.0301e-02,  0.0000e+00,  0.0000e+00],
       [ 8.3309e-02,  3.3842e-01,  2.0095e-01,  3.3352e-01,  7.9110e-02,  2.1631e-01,  1.1243e-01,  2.1067e-02,  6.2469e-01,  2.5939e-01,
         2.1367e-01, -2.5191e-04,  1.5402e-01,  2.0538e+00,  1.0639e-01,  1.5038e-01,  3.3854e-01,  1.8615e-01,  2.7824e-01,  1.8002e-02,
         8.0377e-02,  1.0329e+00,  4.1798e-01,  3.1218e-01,  0.0000e+00,  0.0000e+00],
       [ 3.6852e-02,  6.0103e-02,  1.7217e-02,  6.0970e-01,  7.1316e-02,  3.1065e-01,  1.8653e-01,  1.2285e-02,  2.6189e+00,  6.6998e-02,
         5.8872e-02,  1.3468e-03,  2.6797e-01,  5.8816e-02,  3.2029e-01,  1.9462e-01,  6.0636e-02,  2.2646e-01,  1.3240e-01,  1.4781e-02,
         1.1847e-01,  5.6119e-02,  9.9861e-01,  4.1204e-01,  0.0000e+00,  0.0000e+00],
       [ 2.7283e-01,  3.2366e-01,  1.2149e-01,  2.4848e-01,  2.4397e-01,  2.2618e-01,  6.9958e-02,  1.8846e-01,  3.4575e-01,  8.1028e-01,
         1.5324e-01,  4.2079e-03,  7.7689e-01,  3.1160e-01,  2.5317e-01,  1.5159e-01,  3.3423e-01,  2.3204e+00,  8.7322e-01,  1.6299e-01,
         6.3801e-02,  3.1218e-01,  2.1598e-01,  1.6606e+00,  0.0000e+00,  0.0000e+00],
       [ 0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  5.0000e-01,  0.0000e+00],
       [ 0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  5.0000e-01]], dtype=float32)

In [23]:
model.M_CF

array([[0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1326, 0.1326, 0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1326, 0.1326, 0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    ],
       [0.1148, 0.1148, 0.1326, 0.1326, 0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    ],
       [0.1148, 0.1148, 0.1326, 0.1326, 0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    , 0.    , 0.    ],
       [0.0994, 0.0994, 0.1148, 0.1148, 0.1326, 0.1326, 0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    ],
       [0.0994, 0.0994, 0.1148, 0.1148, 0.1326, 0.1326, 0.1531, 0.1531, 0.1768, 0.1768, 0.5   , 0.5   , 0.    , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   , 0.    ],
       [0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.    , 0.5   ]], dtype=float32)

In [51]:
recs = model.rec_items
rts = model.rec_times
result = np.column_stack((recs,rts))
df_thin.loc[df_thin.session==sess, ['s_resp','s_rt']] = result
df_simu = df_thin.merge(df_test,on=['session','test_itemno'])
df_simu

,session,test_itemno,s_resp,s_rt,test_item,correct_ans,order,rep,test,test_pos,pair_idx
0,0,210,327.0,1210.0,CABBAGE,327,1,1,1,1,11
1,0,210,327.0,1210.0,CABBAGE,327,1,1,2,19,11
2,0,210,711.0,4490.0,CABBAGE,327,1,1,1,1,11
3,0,210,711.0,4490.0,CABBAGE,327,1,1,2,19,11
4,0,1251,819.0,1520.0,SCOTCH,819,2,1,1,2,8
5,0,1251,819.0,1520.0,SCOTCH,819,2,1,2,22,8
6,0,1251,1587.0,4450.0,SCOTCH,819,2,1,1,2,8
7,0,1251,1587.0,4450.0,SCOTCH,819,2,1,2,22,8
8,0,145,1198.0,1420.0,BODY,1198,1,1,1,3,7
9,0,145,1198.0,1420.0,BODY,1198,1,1,2,14,7
10,0,145,1198.0,750.0,BODY,1198,1,1,1,3,7
11,0,145,1198.0,750.0,BODY,1198,1,1,2,14,7
12,0,1059,1391.0,1530.0,PICKLE,1391,2,1,1,4,5
13,0,1059,1391.0,1530.0,PICKLE,1391,2,1,2,17,5
14,0,1059,1391.0,730.0,PICKLE,1391,2,1,1,4,5
15,0,1059,1391.0,730.0,PICKLE,1391,2,1,2,17,5
16,0,711,1519.0,1590.0,HOE,1519,1,1,1,5,9
17,0,838,-1.0,-1.0,LOCK,140,2,1,1,6,1
18,0,153,-1.0,-1.0,BOTTLE,736,1,1,1,7,6
19,0,1587,1240.0,1610.0,WARDROBE,1240,1,1,1,8,2
20,0,856,-1.0,-1.0,MAID,607,2,1,1,9,10
21,0,856,-1.0,-1.0,MAID,607,2,1,2,23,10
22,0,856,1587.0,3180.0,MAID,607,2,1,1,9,10
23,0,856,1587.0,3180.0,MAID,607,2,1,2,23,10
24,0,702,-1.0,-1.0,HELMET,1132,2,1,1,10,3
25,0,299,-1.0,-1.0,CHILD,1282,1,1,1,11,4
26,0,299,-1.0,-1.0,CHILD,1282,1,1,2,16,4
27,0,299,210.0,810.0,CHILD,1282,1,1,1,11,4
28,0,299,210.0,810.0,CHILD,1282,1,1,2,16,4
29,0,1372,-1.0,-1.0,STAPLER,1169,2,1,1,12,12
30,0,140,1240.0,1000.0,BLUEBERRY,838,1,1,2,13,1
31,0,1169,327.0,990.0,RAT,1372,1,1,2,15,12
32,0,1519,711.0,730.0,TUNNEL,711,2,1,2,18,9
33,0,1132,711.0,3230.0,PROTON,702,1,1,2,20,3
34,0,1240,1587.0,790.0,SAXOPHONE,1587,2,1,2,21,2
35,0,736,1587.0,2580.0,INDIAN,153,2,1,2,24,6

In [25]:
tmp1 = df_study.study_itemno1.to_numpy()
tmp2 = df_study.study_itemno2.to_numpy()
tmp = np.concatenate((tmp1, tmp2))
tmp = np.sort(tmp)
tmp

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [26]:
testid = np.searchsorted(tmp, df_simu.test_itemno.item())
corrid = np.searchsorted(tmp, df_simu.correct_ans.item())

In [27]:
df_simu['corr_fin']= model.f_in[corrid]
df_simu['othe_fin'] = np.mean(np.delete(model.f_in, [testid,corrid]))
df_simu

,session,test_itemno,s_resp,s_rt,test_item,correct_ans,lag,corr_fin,othe_fin
0,0,1,2.0,1960.0,HOOP,2,5,0.63972,0.351864